@model IEnumerable<OBSMVC.Models.CustViewModel>

@{
    ViewBag.Title = "Customer List";
}

<br />
<div class="well well-sm"><h3>Customer Maintenance</h3></div>

<table class="table">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.dsc_cust_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsc_cust_parent_name)
        </th>
        <th style="text-align:center">
            @*@Html.DisplayNameFor(model => model.active)*@
            Active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
     
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.dsc_cust_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_cust_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_cust_parent_name)
        </td>
        <td style="text-align:center">
            <input type="checkbox" disabled="disabled" @if (item.active.Equals("YES")) { <TEXT> checked="checked" </TEXT>   } />
            @*@Html.DisplayFor(modelItem => item.active)*@
        </td>
        <td>
            @Html.ActionLink(item.actionText, "Activate", new { id = item.dsc_cust_id, actionText = item.actionText })

        </td>
       
    </tr>
        
    }

</table>
