@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OBSMVC.Models.CustViewModel>

@{
    ViewBag.Title = "Customer List";
}

<div class="well well-sm"><h3>Customer Maintenance</h3></div>

<table class="table table-condensed table-hover">
    <tr style="background-color:gainsboro">
        <th style="text-align:center; width:5%">
            @Html.DisplayNameFor(model => model.First().dsc_cust_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_cust_parent_name)
        </th>
        <th style="text-align:center; width:5%">
            @*@Html.DisplayNameFor(model => model.active)*@
            Active
        </th>
        <th style="width:5%"></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(m => item.dsc_cust_id)
                @*@Html.DisplayFor(modelItem => item.dsc_cust_id)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsc_cust_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsc_cust_parent_name)
            </td>
            <td style="text-align:center">
                <input type="checkbox" disabled="disabled" @if (item.active.Equals("YES")) { <TEXT> checked="checked" </TEXT>    } />
                @*@Html.DisplayFor(modelItem => item.active)*@
            </td>
            <td>
                @Html.ActionLink(item.actionText, "Activate", new { id = item.dsc_cust_id, actionText = item.actionText })
            </td>

        </tr>

    }

</table>
<table style="width:100%">
    <tr>
        <td style="text-align:left">
        </td>
        <td style="text-align:right">
            @using (Html.BeginForm("Index", "Cust", FormMethod.Get))
            {
                <b>Rows Per Page</b>
                @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "25", 25 }, { "50", 50 } }, "Key", "Value", ViewBag.CurrentItemsPerPage), new { id = "PageSize" })
                <script type="text/javascript">
                    $('#PageSize').on('change', function (event) {
                        var form = $(event.target).parents('form');
                        form.submit();
                    });
                </script>
            }
        </td>
    </tr>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.CurrentItemsPerPage}), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })


