@model OBSMVC.Models.QuestionCreateEditViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <title></title>
</head>
<body>
@*=======================================  STYLES, SCRIPTS AND ANNOTATIONS ===============================================*@
<style>
    #container .modal.fade {
        left: -25%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

        #container .modal.fade.in {
            left: 50%;
        }
    /*.input-group-addon {
    min-width:200px;
    text-align:left;*/
    .stdWidth {
        min-width: 130px;
        text-align: left;
    }

    .smallRowMargin {
        margin-bottom: 5px !important;
        /*margin:0px !important;  //if we want to remove the margin completelly*/
    }

    .btnYES {
        background: #3d85c6;
        background: -webkit-linear-gradient(#073763, #3d85c6 50%, #073763);
        background: linear-gradient(#073763, #3d85c6 50%, #073763);
        border: 1px solid #569;
        border-radius: 7px;
        box-shadow: -2px 2px 0 0 #444;
        color: #fff;
        display: inline-block;
        padding: 7px 13px;
        font: normal 700 14px/1 "Calibri", sans-serif;
        text-align: center;
        text-shadow: 2px 2px 0 #070550;
    }

    .btnYES:hover {
        background: #3498db;
        background: -webkit-linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        background: linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        font: normal 700 14px/1 "Calibri", sans-serif;
        color: white;
    }

    .btnYES:focus {
        background: #3498db;
        background: -webkit-linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        background: linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        font: normal 700 14px/1 "Calibri", sans-serif;
        color: white;
    }
    .divDeleted {
        /*background: #d0d0d0;*/
        /*background-image: url('~/Images/bgDeleted.png');*/
        background-image: url('../../Images/bgDeleted.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
        
        /* Blur and de-color */
        /*-webkit-filter: blur(5px) grayscale(50%);*/
        /* Recede */
        /*-webkit-transform: scale(0.9);*/
    }
    .divNormal {
        /*background: none;*/
        background-image: none;
    }
</style>
<script>
    function toggleDefault(btnClicked) {
        if (btnClicked.hasClass('btnYES')) {
            // Just make the current clicked button "NO" default
            btnClicked.removeClass("btnYES").addClass("btn-warning");
            btnClicked.html('NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down">');
        }
        else {
            //Else, reset all buttons to "No Default" and make this button the default
            $(".btnIsDefault").removeClass("btnYES").addClass("btn-warning");
            $(".btnIsDefault").html('NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down">');
            btnClicked.removeClass("btn-warning").addClass("btnYES");
            btnClicked.html('YES&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up">');
        }
        $('#btnAddQuestion').prop('disabled', false);
    }

    function toggleSoftDelete(btnClicked) {
        var parentDIV = btnClicked.parents("div.answerType").first();
        if (btnClicked.hasClass('deleteQAT')) {
            // Mark the question as "Deleted" and Convert the Button into a "undelete" button
            parentDIV.find("#obs_qat_Id_delList").val(parentDIV.find("#obs_qat_id").val());
            btnClicked.removeClass("deleteQAT").addClass("recoverQAT");
            btnClicked.html('<span class="glyphicon glyphicon glyphicon-refresh"></span>');
            parentDIV.removeClass("divNormal").addClass("divDeleted");
            //Disable the Edit and Default Buttons
            parentDIV.find(".btnIsDefault").first().prop("disabled", true);
            parentDIV.find(".editSA").first().prop("disabled", true);
        }
        else {
            // Unmark/Remove the question from the "Delete List" and Convert the Button into a "Delete" button
            parentDIV.find("#obs_qat_Id_delList").val("");
            btnClicked.removeClass("recoverQAT").addClass("deleteQAT");
            btnClicked.html('<span class="glyphicon glyphicon glyphicon-trash"></span>');
            parentDIV.removeClass("divDeleted").addClass("divNormal");
            //Re-enable the Edit and Default Buttons
            parentDIV.find(".btnIsDefault").first().prop("disabled", false);
            parentDIV.find(".editSA").first().prop("disabled", false);
        }
        // A Change was made. Question changes can be saved. Reenable the Save Button
        $('#btnAddQuestion').prop('disabled', false);
    }
</script>
@*===========================================  MAIN VIEW PAGE CODE =======================================================*@
<div class="well well-sm smallRowMargin" style="padding: 4px; font-size:xx-large; text-align:center; margin-top:0px; ">
    <span class="col-md-offset-1"> @Model.viewPageTitle</span>
</div>

@using (Html.BeginForm("QuestionAddUpdateLight", "LightQuestion", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" value="@Model.questn.obs_question_id" name="questn.obs_question_id" id="questn.obs_question_id">
    <input type="hidden" id="qAssignedMD" name="qAssignedMD" />
    <input type="hidden" id="defaultQATid" name="defaultQATid" />
    <input type="hidden" id="cft_id" name="cft_id" value="@Model.activeFormId" />

    //-----------------------------------   QUESTION HEADER SECCTION ----------------------------------------------------------
    <div class="row personal-info">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="input-group">
                    <div class="input-group-addon stdWidth">
                        @Html.LabelFor(model => model.questn.obs_question_full_text)
                    </div>
                    <textarea class="form-control has-feedback" id="questn.obs_question_full_text" name="questn.obs_question_full_text" cols="400" rows="3" style="max-width: 100%; width:95% " placeholder="Enter The Question Full Text" required readonly>@Model.questn.obs_question_full_text</textarea>
                    @Html.ValidationMessageFor(model => model.questn.obs_question_full_text, "", new { @class = "text-danger" })
                </div>


            </div>
            @*<div class="panel-body collapse in" id="headerInfoPanel">
               
                <div class="form-group row smallRowMargin">
                    <div class="col-sm-11 ">
                        <div class="input-group">
                            <div class="input-group-addon stdWidth">
                                @Html.LabelFor(model => model.questn.obs_question_desc)
                            </div>
                            @Html.EditorFor(model => model.questn.obs_question_desc, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%; width:95%;" } })
                            @Html.ValidationMessageFor(model => model.questn.obs_question_desc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group row smallRowMargin">
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="input-group" data-provide="datepicker">
                            <div class="input-group-addon">
                                @Html.LabelFor(model => model.questn.obs_question_eff_st_dt)
                            </div>
                            <input class="datepicker form-control" id="obs_question_eff_st_dt" name="questn.obs_question_eff_st_dt" value="@Model.questn.obs_question_eff_st_dt.ToString("MMM dd, yyyy")" style="max-width: 100%; width:100%;">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                            @Html.ValidationMessageFor(model => model.questn.obs_question_eff_end_dt, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="input-group" data-provide="datepicker">
                            <div class="input-group-addon">
                                @Html.LabelFor(model => model.questn.obs_question_eff_end_dt)
                            </div>
                            <input class="datepicker form-control" id="obs_question_eff_end_dt" name="questn.obs_question_eff_end_dt" value="@endDateValue" style="max-width: 100%; width:100%;">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                            @Html.ValidationMessageFor(model => model.questn.obs_question_eff_end_dt, "", new { @class = "text-danger" })
                        </div>
                    </div>
               </div>
                
            </div>*@
        </div>
    </div>

    //-------------------------   QUESTION ANSWER TYPE AND SELECTABLE ANSWERS SECCTION ----------------------------------------
    <div class="row personal-info">
        <div class="panel panel-info">
            <div class="panel-heading">
                <table style="width:100%">
                    <tr>
                        <td>
                            <a class="accordion-toggle" data-toggle="collapse" href="#ansTypesPanel">
                                <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                @*<span class="caret">&nbsp;</span>*@
                                <b>Currently Defined Answer Types for this question</b>
                            </a>
                        </td>
                        <td style="text-align:right">
                            <button type="button" class="btn btnAdd" id="addAnsType"><img src="~/Images/Button-Add-icon.png" height="25" />Add New Answer Type</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body collapse in" id="ansTypesPanel">
                <div class="row qatDIV" id="existingQATs">
                    @if (Model.Quest_Assigned_qatTags.Count == 0)
                    {
                        <div class="row" id="noATmsg" style="text-align:center">
                            <br />
                            <span style="color:red; font-weight:bold">There are no Answer Types Defined for this Question !!</span>
                            <br /><br />
                        </div>
                    }
                    else
                    {
                        foreach (OBSMVC.Models.qatTags qat in Model.Quest_Assigned_qatTags)
                        {
                            @Html.Action("getQuestionAnswerInfo","Question", new { qatInfo = qat } ) ; @*<hr />*@
                        }
                    }
                </div>

                @*// Divissions Defined for Dynamic (Partial Views) content*@
                <div class="row" id="divaddedSA">
                    @*<div class="col-sm-12 " id="messageAddedSA" style="display:none; border:solid; border-width:1px; font-family:Arial">
                        </div>*@
                </div>

                <div class="row" id="divNewSA">
                </div>
            </div>
        </div>
    </div>


    @* ---------- META DATA QUESTION INFORMATION -- --- Select/Unselect PANELS --------------*@


        @* ---------- END OF NEW ROW WITH MOVE Select/Unselect TAGS PANELS --------------*@

        <div class="row">
            <div class="col-md-12 ">
                <div class="form-group row">
                    <div class="col-md-4 col-sm-push-8">
                        <button type="submit" id="btnAddQuestion" class="btn btn-primary" disabled="disabled" style="min-width:100px" onclick="return compilePostValues();">
                            <span>SAVE</span>
                        </button>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <button type="button" class="btn btn-default" style="min-width:100px" >
                            <span>CANCEL/EXIT</span>
                        </button>
                    </div>
                </div>
                @if(ViewBag.Message != null)
                {
                    <div id="ConfMsg" style="text-align:center; font-weight: bold; color:green">
                        @ViewBag.Message
                    </div>
                    <script>
                    $(function () {
                        setTimeout(function () {
                            $("#ConfMsg").hide();
                        }, 5000);
                    });
                    </script>
                }
            </div>
        </div>


}


@* ------------ END OF THE FORM ---------- *@


@****************** GENERIC MISCELANEOUS JQUERY AND JAVASCRIPT METHODS **************************************@
<script>
        $(document).ready(function () {
            $("input:text").focus(function () { $(this).select(); });
            $('.datepicker').datepicker({
                dateFormat: 'M dd, yy'
            });

            $('.collapse').on('show.bs.collapse', function () {
                $(this).parent().find(".glyphicon-collapse-down").removeClass("glyphicon-collapse-down").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-collapse-down");
            });

        });

       
</script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
<script>
        function compilePostValues() {
            var defaultQATid = "";
            var modifiedQATs = "";

            // Set hidden field value for The Default Question Answer Type "defaultQATid" (If any)
            $('#existingQATs').find('.answerType').each(function () {
                if ($(this).find('.btnIsDefault').first().hasClass("btnYES")) {
                    defaultQATid = $(this).children('#obs_qat_id').val();
                }
            });
            document.getElementById("defaultQATid").setAttribute("Value", defaultQATid);

            //Finally, loop through all Newly added answers and set the "ans_type_list" Hidden field to the most uptodate values before posting
            var newValues = "";
            $('#divaddedSA').find('div.answerType').each(function () {
                //var currentNewDiv = $(this);
                //var dfltButton = $(this).find('button.btnIsDefault').first();
                var sel_list = $(this).find('#ans_type_id').val() + "~";
                sel_list = sel_list + ($(this).find('button.btnIsDefault').first().hasClass("btnYES")) + "~" + $(this).find('#ans_type_selAns').val();
                $(this).find("#ans_type_list").val(sel_list);
                newValues = newValues + $(this).find("#ans_type_list").val() + "\n";
            })
        };


        function loadTemplate(callerBtn, selAnslist) {
            //Transverse up to the parent "DIV" and then loop through all its "Textbox" children
            //to set their values based on the selected Template

            // First Get the DIV parent id
            var parentId = "#" + callerBtn.parent().parent().parent().parent().parent().parent().parent().parent().prop("id");
            //var textbList = $(parentId).find(".selAnswerTextb").first().val();
            //alert('Template ' + '[' + selAnslist + '] will be applied for Id: ' + parentId + "-- Note, first text box value is: " + textbList);

            //Create an array of values to apply to the text boxes
            var templateList = selAnslist.split(",");
            var textBoxCounter = 0;
            // Loops through all textboxes in the parent DIV and set their values accordingly
            $(parentId).find(".selAnswerTextb").each(function () {
                $(this).val(templateList[textBoxCounter]);
                textBoxCounter = textBoxCounter + 1;
            });
            $('.saveSA').prop('disabled', false);
        }


</script>


<script>
        $(document).ready(function () {
            var isChanged = false;
            $('input, select, textarea').change(function () {
                //$("input[type='submit']").removeAttr("disabled");
                if ($('#btnAddQuestion').text() != "SAVE" ) {
                    $('#btnAddQuestion').button('reset');
                }
                $("#btnAddQuestion").removeAttr('disabled');
                //alert('Button Text is:' + btnText);
                isChanged = true;
            });
            $(window).bind('beforeunload', function () {
                if (isChanged) {
                    return 'There are unsaved changed. Do you want to discard Changes and Exit?';
                } else {
                    return undefined;
                }
            });
            // ---------------- Execute When Saving the Whole Form --------------
            $("#btnAddQuestion").click(function () {
                isChanged = false;
                $(this).button('loading');
            });

            $(".chkDefault").change(function () {
                // If the Checkbox is now "Checked", uncheck all other checkboxes
                if (this.checked) {
                    $(".chkDefault").prop('checked', false);
                    $(this).prop('checked', true);
                }
                //Otherwise We just leave the current uncheck box (all all the others) as they are
            });

            $(".btnIsDefault").click(function () {

                toggleDefault($(this));

               
            });

        });
</script>

<!-- Form Edit State Change Validation -->


<script type="text/jscript">
    $(document).ready(function () {
        //------------------------------ ADD NEW ANSWER TYPE BUTTON -----------------------------------------
        $('#addAnsType').click(function () {
            $(this).prop('disabled', true);
            // ------------ Make the Ajax Call ---------------------------------------------
            $.ajax({
                url: '@Url.Action("addQuestionAnswerInfo", "Question")',
                method: "GET",
                cache: false,
                //data: { qat_id: QATid, sel_ans_list: textValues },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //--- On error, execute this function ------
                error: function () {
                    alert("An Error has Occurred. Unable to Add!!");  //<-- Trap and alert of any errors if they occurred
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully
                $("#divNewSA").html(d);
                $("#fullSelATlist").focus();
                $('html,body').animate({ scrollTop: document.body.scrollHeight }, "slow");
                //window.scrollTo(0, 0);   //Scroll to the top of the Screen
            });

        });

        //-------------------------------------- BUTTON EDIT ------------------------------------------------
        $('.editSA').click(function () {
            // Get the Ids that will be used in the dynamic execution
            var ATid = $(this).prop("id").substring(7);  // "Answer Type" Sequence Number to drive the Ids of all components.
            var divSALabel = "#divSALabel" + ATid;
            var divSAText = "#divSAText" + ATid;

            // Hide the "Labels" <Division>
            $(divSALabel).hide(700);
            // Show The "Text Boxes" <Division>
            $(divSAText).show();

        });
        //------------------------------ BUTTON SAVE ---------------------------------------------
        $('.saveSA').click(function (e) {
            // Get the Ids that will be used in the dynamic execution
            var ATid = $(this).prop("id").substring(7);  // "Answer Type" Sequence Number to drive the Ids of all components.
            var divSALabel = "#divSALabel" + ATid;
            var divSAText = "#divSAText" + ATid;
            var QATid = $(this).parents("div.answerType").first().find("#obs_qat_id").val();
            var textValues = "";
            //Retrieve the first <Li> "badge" element of the current QAT
            var badgeLi = $(divSALabel).find("Li").first();

            var counter = 0;
            $(this).parent().find('.selAnswerTextb').each(function () {
                counter++;
                //Compile a list of Values to post
                textValues = textValues + $(this).val() + "~"
            })

            var postingValuesField = $(this).parents(".answerType").first().children("#sel_ans_list");
            //alert("Original Posting values: " + postingValuesField.val());
            //Save the New values in the corresponding QAT hidden field for later posting
            postingValuesField.val(QATid + "~" + textValues);
            //$(this).parents(".answerType").first().children("#sel_ans_list").val(QATid + "~" + textValues);

            //perform post "save" operations
            badgeLi.siblings().remove();
            $(divSAText).find('.selAnswerTextb').each(function () {
                //  alert("Refreshing Badges from [" + badgeLi.next().children("span").first().text() + "] to [" + $(this).val() + "]");
                badgeLi.parent().append('<li style="display: inline;" id="testLi"><span class="badge" style="font-size:larger">' + $(this).val() + '</span>&nbsp;&nbsp;</li>');
            })

            //Enable the Question Save Button if ajax call is successful
            $("#btnAddQuestion").removeAttr('disabled');


                // Hide the "Text Boxes" <Division>
                $(divSAText).hide();
                // Show The "Labels" < Division >
                $(divSALabel).show();
            });
            //------------ BUTTON CANCEL EDIT OF ANSWER TYPE -----------------------------------------------------
            $('.cancelSA').click(function (e) {
                var divSAText = "#" + $(this).parents("div.divText").first().prop('id');
                var divSALabel = "#divSALabel" + divSAText.substring(10, 12);
                // Hide the "Text Boxes" <Division>
                $(divSAText).hide();
                //$(this).parents("div.divText").first().hide();
                // Show The "Labels" < Division >
                $(divSALabel).show(500);
            });

            //------------ ON SELECTABLE ANSWER CHANGE -----------------------------------------------------
            $(".selAnswerTextb").change(function () {
                if ($(this).val() == "")
                {
                    $('.saveSA').prop('disabled', true);
                }
                else
                    $('.saveSA').prop('disabled', false);
            });

            //----------------------------------------------------------------------------------------------



            $('.addOption').click(function () {
                var divToAdd = '<div class="row form-inline newOption" style="margin-left:2px"><input type="text" value="" class="form-control selAnswerTextb" placeholder="Enter a Value" /> </div>'
                var delButton = $('<button s type="button" ><span class="glyphicon glyphicon-trash"></span></button>').click(function () {
                    $(this).parent().remove();
                });

                $(this).parent().find('.selectionList').last().append(divToAdd).children(".newOption").last().append(delButton);
            });

        });

</script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
