<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">
                Observations DM Tool&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*<img class="img-responsive" src="~/Images/DSCHome_Logo.gif"/>*@
            </a>
        </div>
        <a style="position:fixed; top:0; left:0" href="/home">
            <img class="img-responsive" src="~/Images/DSCHOME_Logo.png" />
        </a>
        <div class="collapse navbar-collapse" id="myNavbar" style="font-size:large" >
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Reference Data
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Customers", "Index", "Cust")</li>
                        <li>@Html.ActionLink("Logistic Center", "Index", "LC")</li>
                        <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                        <li class="disabled">@Html.ActionLink("Observation Types", "Index", "OBSTYPE")</li>
                        <li class="disabled">@Html.ActionLink("Observation Subtypes", "Index", "OBSsubtype")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#" >Questions Library
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Search", "Index", "Question")</li>                        
                    </ul>
                </li>
                <li class="dropdown disabled"><a data-toggle="tab" href="#">Menu 3</a></li>
                <li class="dropdown disabled"><a data-toggle="tab" href="#">Menu 4</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">              
                <li>
                    <span class="glyphicon glyphicon-log-in" style="font-size:large; color:white">@Html.ActionLink(" Logout |", "OBSLogout", "Login", new { style = "color:white"})</span>
               </li>
            </ul>  
        </div>
    </div>
</nav>
