@model IEnumerable<OBSMVC.Models.OBS_FORM_SECTION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.obs_form_section_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.obs_form_section_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.obs_form_section_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.obs_form_section_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.obs_form_section_id })
        </td>
    </tr>
}

</table>
