@model  OBSMVC.Models.qatTags

@* ===== THIS PARTIAL VIES REPRESENTS A SINGLE QUESTION ANSWER TYPE TO BE USED FOR QUESTION VIEW/MAINTENANCE MODE ======= *@

@{var uniqueCounter = @Model.uniqueCounter.ToString("00");
  var qbtnSaveId = "btnSave" + uniqueCounter;
  var qbtnEditId = "btnEdit" + uniqueCounter;
  var divSALabel = "divSALabel" + uniqueCounter;
  var divSAText = "divSAText" + uniqueCounter; 
}

<div class="col-sm-12" style="border:solid; border-width:1px; font-family:Arial">
    <div class="row">
        <div class="col-sm-4 form-inline">
            <span class="label label-primary">[ @uniqueCounter ]&nbsp;</span>
            <div class="input-group">
                <span class="input-group-addon label-primary" style="color:white">Answer Type:</span>
                <input type="text" class="form-control" id="qat" value="@Model.answer_type_name" readonly="readonly">
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-5 form-inline" style="text-align:right">
                <div class="input-group">
                    <span class="input-group-addon">Default </span>
                    @if (Model.QAT.obs_qat_default_ans_type_yn == "Y")
                    { <button type="button" class="btn btnIsDefault btnYES">YES&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></button> }
                    else
                    { <button type="button" class="btn btnIsDefault btn-warning">NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button> }
                    @*<input type="checkbox" @if (Model.QAT.obs_qat_default_ans_type_yn == "Y") { <text> checked="checked" </text>     }
                        class="form-control primar chkDefault" id="qatDefault" name="qatDefault" style="max-width:20%" />*@
                </div>
        </div>
    </div>

    <div class="row divLabel" id="@divSALabel">
        @if (Model.selectable_ans_required == "Y")
        {
            <ul>
                <li style="display: inline">
                    <button id="@qbtnEditId" class="editSA" type="button" style="background-color:white">Edit&nbsp;<span class="glyphicon glyphicon-pencil"></span></button>
                    <span>&nbsp;&nbsp;</span>
                </li>
                @foreach (var x in Model.selAns)
                {
                    <li style="display: inline;" ><span class="badge" style="font-size:larger">@x.obs_qsa_text</span>&nbsp;&nbsp;</li>
                }
            </ul>
            <br /><br />
        }
        else
        {
            <div>
                This Question does not require Selectable answers
            </div>
        }
    </div>
    <div class="row form-inline divText" id="@divSAText" style="display:none">&nbsp;
        <div class="col-sm-11   col-sm-offset-1">
            @foreach (var x in Model.selAns)
            {
                <input type="text" value="@x.obs_qsa_text" class="form-control" />
                <span>&nbsp;</span>
            }
            <span>&nbsp;</span>
            <button id="@qbtnSaveId" class="saveSA" type="button">SAVE</button>
            <br /><br />
        </div>
    </div>
</div>

@*<script>
    function editSelAns(btn) {
        var $btn = btn
        alert('You are trying to hide DIV = ' + $btn.parent().parent().parent().attr("id") );
        //$('#selAnsLabels').hide;
        //$('#selAnsTextBx').show;
    }
</script>*@

@*<script type="text/jscript">
    var qbtnSaveIdHandle = "#" + '@qbtnSaveId';
    $(qbtnSaveIdHandle).click(function () {
        alert('SAVING DATA ... ');
        var $btn = $(this);
        $btn.button('loading');

        // ------------ Make the Ajax Call ---------------------------------------------
        $.ajax({
            url: '@Url.Action("saveSelAnsDefault", "Question")',
            method: "POST",
            cache: false,
            data: {qat_id : 1061, sel_ans_list :"  nO  , MAYbe , yes ", isDefault: true },     //<---- Data Parameters (if not already passed in the Url)
            //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
            //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
            //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
            //traditional: true,                                       //<--- In case we wanted to post a JSON data object

            //--- On error, execute this function ------
            error: function () {
                alert("An Error has Occurred. Unable to Save Data!!");  //<-- Trap and alert of any errors if they occurred
                $btn.button('reset');
            }
        }).done(function (d) {
            //Execute this code After the Ajax call completes successfully
            //$("#accordion").append(d);
            alert('Save Resullt: ' + d)
            $btn.button('reset');
        });
    })
</script>*@