@model  OBSMVC.Models.qatTags

@* ===== THIS PARTIAL VIES REPRESENTS A SINGLE QUESTION ANSWER TYPE TO BE USED FOR QUESTION VIEW/MAINTENANCE MODE ======= *@

@{var uniqueCounter = @Model.uniqueCounter.ToString("00");
var qbtnSaveId = "btnSave" + uniqueCounter;
var qbtnEditId = "btnEdit" + uniqueCounter;
var divSALabel = "divSALabel" + uniqueCounter;
var divSALabelqatId = "lblQATid" + uniqueCounter;
var divSAText = "divSAText" + uniqueCounter;
var divSATextqatId = "txtQATid" + uniqueCounter;
}

<div class="col-sm-12 answerType existingQAT" id="ansTypeInfo" style="border:solid; border-width:1px; font-family:Arial">
    <input type="hidden" id="obs_qat_id" value="@Model.QAT.obs_qat_id" />
    <input type="hidden" id="obs_qat_Id_delList" name="obs_qat_Id_delList" value="" />
    <input type="hidden" id="sel_ans_list" name="sel_ans_list" value="" />
    <input type="hidden" id="atCat" value="@Model.QAT.OBS_ANS_TYPE.obs_ans_type_category" />
    <div class="row">
        <div class="col-sm-5 form-inline" style="max-width:100%;">
            @*<span class="label label-primary">[ @uniqueCounter ]&nbsp;</span>*@
            <div class="input-group" style="max-width:100%; width:80%">
                <span class="input-group-addon label-primary" style="color:white; max-width:80%">Answer Type:</span>
                <input type="text" class="form-control" id="qat" value="@Model.answer_type_name" readonly="readonly" style="max-width:100%; width:100%">
            </div>
        </div>
        <div class="col-sm-5 form-inline" style="text-align:center">

                <span class="bg-info" style="font-size:small; font-weight:bold">@Model.usageInfo</span>

        </div>
        <div class="col-sm-2 form-inline" style="text-align:right">
            <div class="input-group">
                <span class="input-group-addon">Default? </span>
                @if (Model.QAT.obs_qat_default_ans_type_yn == "Y")
                    { <button type="button" class="btn btnIsDefault btnYES">YES&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></button> }
                    else
                    { <button type="button" class="btn btnIsDefault btn-warning">NO&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></button> }
                @*<input type="checkbox" @if (Model.QAT.obs_qat_default_ans_type_yn == "Y") { <text> checked="checked" </text>     }
                    class="form-control primar chkDefault" id="qatDefault" name="qatDefault" style="max-width:20%" />*@
                <button type="button" class="btn btn-default deleteQAT" onclick='toggleSoftDelete($(this))'  >
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

            </div>
        </div>
    </div>

    <div class="row divLabel" id="@divSALabel">
        <br />
        @if (Model.selectable_ans_required == "Y")
        {
         <ul clas="ulSALabel">
            <li style="display: inline" id="testLi">
               @if (Model.editable == "false")
               {
                <button id="@qbtnEditId" class="editSA btn btn-success" type="button" disabled title="This Answer Type is already in use on a Collection Form - No Editing is allowed!"  >
                    Edit&nbsp;<span class="glyphicon glyphicon-eye-close"></span>
                </button>
               }
               else
               {
                <button id="@qbtnEditId" class="editSA btn btn-success" type="button" title="Click to change the Selectable Answers to use">
                    Edit&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </button>
               }
                <span>&nbsp;&nbsp;</span>
            </li>
            @foreach (var x in Model.selAns)
            {
                <li style="display: inline;" id="testLi"><span class="badge SAitem" style="font-size:larger">@x.obs_qsa_text</span>&nbsp;&nbsp;</li>           
            }
         </ul>
         <br />
        }
        else
        {
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <span style="font-size:larger; font-weight:bold">This Answer Type does not require Selectable answers</span><br /><br />
            </div>
        </div>      
        }

    </div>

    @*//------ Edit Mode for 3/5 Val Range and Singlee an Multi Select Categories - - - - - - - - - - - - *@
    <div class="row form-inline divText" id="@divSAText" style="display:none">
        &nbsp;
        @if (Model.QAT.OBS_ANS_TYPE.obs_ans_type_category == "5 Val Range" || Model.QAT.OBS_ANS_TYPE.obs_ans_type_category == "3 Val Range")
        {
            <div class="col-sm-7" id="rangeCol" >
                <br /><br />
                @*<input type="hidden" id="@divSATextqatId" value="@Model.QAT.obs_qat_id" />*@

                @foreach (var x in Model.selAns)
                {
                    <input type="text" value="@x.obs_qsa_text" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                    <br /><br />
                }
                <span>&nbsp;</span>
                <button id="@qbtnSaveId" class="saveSA" type="button">DONE</button>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <button id="btnCancel" class="cancelSA" type="button">CANCEL</button>
                <br /><br />
            </div>
        }
        else if (Model.QAT.OBS_ANS_TYPE.obs_ans_type_category == "SS List" || Model.QAT.OBS_ANS_TYPE.obs_ans_type_category == "MS List")
        {
            <div class="col-sm-7" id="listCol">
                <button type="button" class="addOption"> <span class="glyphicon glyphicon-plus"> Add New Answer</span></button>
                <div class="row form-inline selectionList" style="margin-left:20px">
                    @foreach (var x in Model.selAns)
                    {
                        <div class="form-inline newOption">
                            <input type="text" value="@x.obs_qsa_text" class="form-control selAnswerTextb" placeholder="Enter a Value" />
                            <button type="button" onclick="$(this).parent().remove();"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    }
                </div>
                <br />&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="@qbtnSaveId" class="saveSA" type="button">DONE  </button>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <button id="btnCancel" class="cancelSA" type="button">CANCEL</button>
                <br /><br />
            </div>
        }
        <div class="col-md-5 personal-info">

    @*  // - - - - - -- - - - - INSERT HERE The Selectable Answers Templates Panel (From External Partial View) --------
        //------------------------------------------------------------------------------------------------------------------*@

              @Html.Action("selAnsTemplates", new { templateCathegory = Model.answer_type_category }) 

    @*  // - - - - - - - END OF Selectable Answers Templates Panel (From External Partial View) --------
        //-------------------------------------------------------------------------------------------------------
    *@
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {

    });
</script>