@model  OBSMVC.Models.qatTags

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <div class="input-group">
            <div class="input-group-addon">Answer Type: </div>
            @Html.DisplayFor(model => model.answer_type_name) <br />
            <div class="input-group-addon">Is Default: </div>
            @Html.DisplayFor(model => model.QAT.obs_qat_default_ans_type_yn) <br />
        </div>
        Category: @Model.answer_type_category<br />
        Answer type: @Model.answer_type_name<br />
    </div>
    @if (Model.selectable_ans_required == "Y")
    {
        <ul>
            @foreach (var x in Model.selAns)
            {
            <li style="display: inline"><span class="badge">@x.obs_qsa_text</span></li>
            }
        </ul>
    }
</div>

