@model OBSMVC.Models.QuestionCreateViewModel

@{  ViewBag.Title = "Create"; }
@*<script src="~/Scripts/jquery-ui.js"></script>*@

<script type="text/javascript">
        //$(function () {
        //    $("input:text.editDate").datepicker();
        //});
        $(function () {
            $("#obs_question_eff_st_dt").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'M dd, yy'
            });
        });
        $(function () {
            $("#obs_question_eff_end_dt").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'M dd, yy'
            });
        });
</script>
<!-- Form Edit State Change Validation -->
<script>
        $(document).ready(function () {
            var isChanged = false;
            $('input, select, textarea').change(function () {
                //$("input[type='submit']").removeAttr("disabled");
                if ($('#btnAdd').text() != "Add Question")
                {
                    $('#btnAdd').button('reset');
                }
                $("#btnAdd").removeAttr('disabled');
                //alert('Button Text is:' + btnText);
                isChanged = true;
            });
            $(window).bind('beforeunload', function () {
                if (isChanged) {
                    return 'There are unsaved changed. Do you want to discard Changes and Exit?';
                } else {
                    return undefined;
                }
            });
            $("#btnAdd").click(function () {
                isChanged = false;
                $(this).button('loading');
            });
            //$(".btn").click(function () {
            //    isChanged = false;
            //    $(this).button('loading');
            //});            
        });
</script>
<style>
    #container .modal.fade {
        left: -25%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

        #container .modal.fade.in {
            left: 50%;
        }
</style>

<div class="well well-sm"><h3>Add New Question</h3></div>

@using (Html.BeginForm("Create", "Question", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                @Html.HiddenFor(model => model.q.obs_question_ver)
                @*@Html.LabelFor(model => model.obs_question_ver, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.obs_question_ver, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.obs_question_ver, "", new { @class = "text-danger" })
                </div>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.q.obs_question_full_text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.q.obs_question_full_text, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.EditorFor(model => model.obs_question_full_text, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.q.obs_question_full_text, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.q.obs_question_desc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.q.obs_question_desc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.q.obs_question_desc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.q.obs_question_eff_st_dt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-group col-md-10">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input class="form-control text-box single-line" data-val="false" id="obs_question_eff_st_dt" name="q.obs_question_eff_st_dt" type="datetime" value="@DateTime.Today" />
                    @*@Html.EditorFor(model => model.obs_question_eff_st_dt, new { htmlAttributes = new { @class = "form-control", name = "obs_question_eff_st_dt", id = "obs_question_eff_st_dt" } })*@
                    @Html.ValidationMessageFor(model => model.q.obs_question_eff_st_dt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.q.obs_question_eff_end_dt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-group col-md-10">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input class="form-control text-box single-line" data-val="false" id="obs_question_eff_end_dt" name="q.obs_question_eff_end_dt" type="datetime" value="" />
                    @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field Effective End Date must be a date." data-val-required="The Effective End Date field is required." id="obs_question_eff_end_dt" name="obs_question_eff_end_dt" type="datetime" value="2060/12/31" />*@
                    @*@Html.EditorFor(model => model.obs_question_eff_end_dt, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.q.obs_question_eff_end_dt, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @* ---------- NEW ROW WITH TEST CODE--------------*@
        <div class="row">
            <div class="col-md-12 personal-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <b>Question Metadata Maintenance</b>
                                </td>
                                <td style="text-align:right">
                                    <button type="button" class="btnAdd" data-toggle="modal" data-target="#NewMDTag"><img src="~/Images/Button-Add-icon.png" height="25" />Add New Metedata Tag</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        @foreach (int item in Model.preMetaDataIds)
                        {
                            <input type="hidden" id="origTags" name="origTags" value="@item" />
                        }
                        <table style="width:100%">
                            <tr>
                                <td style="width:45%; border:double; text-align:center; vertical-align:top">
                                    <b>ASSIGNED QUESTION METADATA TAGS</b>   <br />
                                    <select id="sbOne" multiple="multiple" size="10" style="width:95%">
                                        @foreach (var item in Model.qAssignedMD)
                                        {
                                            <option value="@item.md_id">@item.md_value [@item.md_cat]</option>
                                        }
                                    </select>
                                    <br /><br />
                                </td>
                                <td style="width:10%; text-align:center; font-weight:bold; color:blue ">
                                    <input type="button" id="left" style="width:50px" value="<" /> <br /><br />
                                    <input type="button" id="right" style="width:50px" value=">" /> <br /><br />
                                    <input type="button" id="leftall" style="width:50px" value="<<" /> <br /><br />
                                    <input type="button" id="rightall" style="width:50px" value=">>" /> <br />
                                </td>
                                <td style="width:45%; border:double; text-align:center; vertical-align:top">
                                    <b>AVAILABLE METADATA TAGS</b>   <br />
                                    <select id="sbTwo" multiple="multiple" size="10" style="width:95%">
                                        @foreach (var item in Model.qUnassignedMD)
                                        {
                                            <option value="@item.md_id">@item.md_value [@item.md_cat]</option>
                                        }
                                    </select>
                                    <br /><br />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @* ---------- END OF NEW ROW WITH TEST CODE--------------*@

        <div class="row">
                <div class="col-md-6 personal-info">
                    <div class="panel panel-info">
                        <div class="panel-heading">Assigned Question Metadata</div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    @*@foreach (int item in Model.preMetaDataIds)
                                    {
                                        <input type="hidden" id="origTags" name="origTags" value="@item" />
                                    }*@
                                    <table class="table table-condensed table-hover">
                                        <tr>
                                            <th></th>
                                            <th>Value</th>
                                            <th>Category</th>
                                        </tr>
                                        @foreach (var item in Model.qAssignedMD)
                                        {
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="qAssignedMD" name="qAssignedMD" checked="checked" value="@item.md_id" />
                                            </td>
                                            <td>
                                                @*<input type="hidden" id="qAssignedMD" name="qAssignedMD" value="@item.obs_quest_md_id" />*@
                                                @item.md_value
                                            </td>
                                            <td>
                                                @item.md_cat
                                            </td>
                                        </tr>
                                        }
                                    </table>
                                    <br />
                                    @*@{Html.RenderAction("qMetaDataList", new { postId = p.Id });}*@
                                    @*@{Html.RenderAction("qMetaDataList");}*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 personal-info">
                    <div class="panel panel-info">
                        <div class="panel-heading">

                            @*<table style="width:100%">
                                <tr>
                                    <td>
                                        Available Metadata Tags
                                    </td>
                                    <td style="text-align:right">
                                        <button type="button" class="btnAdd"  data-toggle="modal" data-target="#NewMDTag"><img src="~/Images/Button-Add-icon.png" height="25" />Add New Metedata Tag</button>
                                    </td>
                                </tr>
                            </table>*@

                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <table class="table table-condensed table-hover">
                                        <tr>
                                            <th></th>
                                            <th>Value</th>
                                            <th>Category</th>
                                        </tr>
                                        @foreach (var item in Model.qUnassignedMD)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="@item.md_id" id="qAssignedMD" name="qAssignedMD">
                                                </td>
                                                <td>
                                                    @item.md_value
                                                </td>
                                                <td>
                                                    @item.md_cat
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    <br />
                                    @*@{Html.RenderAction("qMetaDataList", new { postId = p.Id });}*@
                                    @*@{Html.RenderAction("qMetaDataList");}*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary" disabled="disabled" id="btnAdd" >Add Question</button>
                            <span></span>
                            <input type="reset" class="btn btn-default" value="Reset Form">
                        </div>
                    </div>
                    @if (ViewBag.ConfMsg != null)
                    {
                        <div id="ConfMsg" style="text-align:center; font-weight: bold; color:green">
                            @ViewBag.ConfMsg
                        </div>
                        <script>
                            $(function () {
                                setTimeout(function () {
                                    $("#ConfMsg").hide();
                                }, 3000);
                            });
                        </script>
                    }
                </div>
            </div>
    </div>
}
 @* ------------ END OF THE FORM ---------- *@

@* ---------------------- POP UP "Add New Metadata Tag" FORM ------------------------ *@
  <!-- Modal -->
<div class="modal" id="NewMDTag" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Metadata Tag</h4>
            </div>
            <div class="modal-body">
                <form action="/QuestionMetadata/Create?qId=0" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />

                        <div class="form-group">
                            <label class="control-label col-md-2" for="obs_quest_md_value">Metadata Value</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="obs_quest_md_value" name="obs_quest_md_value" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="obs_quest_md_value" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="obs_quest_md_cat">Metadata Category</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="obs_quest_md_cat" name="obs_quest_md_cat" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="obs_quest_md_cat" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <input type="hidden" name="qId" id="qId" value="0" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Tag</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* ---------------------- END OF "Add New Metadata Tag" FORM ------------------------ *@



<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*SCRIP to move Question Metadata Tags across pannels*@
<script>
    $(function () {
        function moveItems(origin, dest) {
            $(origin).find(':selected').appendTo(dest);
        }

        function moveAllItems(origin, dest) {
            $(origin).children().appendTo(dest);
        }

        $('#left').click(function () {
            moveItems('#sbTwo', '#sbOne');
        });

        $('#right').on('click', function () {
            moveItems('#sbOne', '#sbTwo');
        });

        $('#leftall').on('click', function () {
            moveAllItems('#sbTwo', '#sbOne');
        });

        $('#rightall').on('click', function () {
            moveAllItems('#sbOne', '#sbTwo');
        });
    });
</script>

