@model OBSMVC.Models.OBS_QUESTION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OBS_QUESTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.obs_question_ver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_ver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_question_full_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_full_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_question_short_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_short_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_question_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_question_mm_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_mm_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_question_eff_st_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_eff_st_dt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_question_eff_end_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_question_eff_end_dt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
