@model OBSMVC.Models.QuestionMDViewModel

@{ ViewBag.Title = "Details"; }
<style>
    .stdRowWidth {
        width:105px
    }
</style>
<div class="well well-sm"><h3>Question Details</h3></div>
<div class="container">
  <div class="row">
     <!-- Display A single edit form column -->
     <div class="col-md-8 personal-info" style="margin-bottom:4px">
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_ver)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_ver)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_full_text)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_full_text)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_short_text)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_short_text)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_desc)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_desc)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_mm_url)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_mm_url)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_eff_st_dt)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_eff_st_dt)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_eff_end_dt)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_eff_end_dt)" readonly />
             </div>
         </div>



     </div>
     <div class="col-md-4 personal-info">
         <div class="panel panel-info">
            <div class="panel-heading">Question Metadata</div>
            <div class="panel-body">
               <div class="list-group">
                  <div class="list-group-item">
                      <table class="table table-condensed table-hover">
                          <tr>                            
                             <th>Value</th>
                             <th>Category</th>                            
                          </tr>
                            @if (Model.qAssignedMD.Count == 0)
                            {
                                  <tr>                                       
                                      <td colspan="2">
                                          No associated Metadata found
                                      </td>
                                  </tr>
                            }
                            else
                            {
                                foreach (var md in Model.qAssignedMD)
                                {
                                    <tr>
                                        <td>@md.obs_quest_md_value</td>
                                        <td>@md.obs_quest_md_cat</td>
                                    </tr>
                                }
                            }
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="alert-info">Existing Collection Forms where this question is currently being used</div>
      <table class="table table-responsive table-striped table-hover">
          <tr>
              <th>Form Number</th>
              <th>Form Title</th>
              <th>Version</th>
              <th>Published</th>
              <th>Other</th>
          </tr>
          <tr>
              <td>Sample Data</td>
              <td>Sample Data</td>
              <td>Sample Data</td>
              <td>Sample Data</td>
              <td>Sample Data</td>
          </tr>
          <tr>
              <td>Sample Data</td>
              <td>Sample Data</td>
              <td>Sample Data</td>
              <td>Sample Data</td>
              <td>Sample Data</td>
          </tr>
      </table>
  </div>
  <div class="row">
      <div class="col-md-12">
          @Html.ActionLink("Edit Question", "QuestionAddUpdate", new { id = Model.q.obs_question_id }) |
          @Html.ActionLink("Back to List", "Index")
      </div>
  </div>
</div>
