@model OBSMVC.Models.QuestionMDViewModel

@{
    ViewBag.Title = "Details";
}

<h4>Question Detail</h4>
<div class="container">
  <div class="row">
     <!-- Display A single edit form column -->
     <div class="col-md-8 personal-info">
         <dl class="dl-horizontal">
             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_ver)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_ver)
             </dd>

             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_full_text)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_full_text)
             </dd>

             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_short_text)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_short_text)
             </dd>

             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_desc)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_desc)
             </dd>

             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_mm_url)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_mm_url)
             </dd>

             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_eff_st_dt)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_eff_st_dt)
             </dd>

             <dt>
                 @Html.DisplayNameFor(model => model.q.obs_question_eff_end_dt)
             </dt>

             <dd>
                 @Html.DisplayFor(model => model.q.obs_question_eff_end_dt)
             </dd>

         </dl>
     </div>
     <div class="col-md-4 personal-info">
         <div class="panel panel-info">
            <div class="panel-heading">Question Metadata</div>
            <div class="panel-body">
               <div class="list-group">
                  <div class="list-group-item">
                      <table class="table table-condensed table-hover">
                          <tr>                            
                             <th>Value</th>
                             <th>Category</th>                            
                          </tr>
                            @if (Model.qMD.Count == 0)
                            {
                                  <tr>                                       
                                      <td>
                                      </td>
                                      <td>                                         
                                      </td>
                                  </tr>
                            }
                            else
                            {
                                foreach (var md in Model.qMD)
                                {
                                    <tr>
                                        <td>@md.obs_quest_md_value</td>
                                        <td>@md.obs_quest_md_cat</td>
                                    </tr>
                                }
                            }
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          @Html.ActionLink("Edit", "Edit", new { id = Model.q.obs_question_id }) |
          @Html.ActionLink("Back to List", "Index")
      </div>
  </div>
</div>
