@model OBSMVC.Models.QuestionMDViewModel

@{ ViewBag.Title = "Details"; }
<style>
    .stdRowWidth {
        width:105px
    }
</style>
<div class="well well-sm"><h3>Question Details</h3></div>
<div class="container">
  <div class="row">
     <!-- Display A single edit form column -->
     <div class="col-md-8 personal-info" style="margin-bottom:4px">
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_ver)</div>
                 @Html.DisplayFor(model => model.q.obs_question_ver)
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_full_text)</div>
                 @Html.DisplayFor(model => model.q.obs_question_full_text)
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group" >
                 <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_short_text)</div>
                 @Html.DisplayFor(model => model.q.obs_question_short_text)
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_desc)</div>
                 @Html.DisplayFor(model => model.q.obs_question_desc)
             </div>         
         </div>
         <div class="row form-group" style="margin-bottom:4px">
                 <div class="input-group">
                     <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_mm_url)</div>
                     @Html.DisplayFor(model => model.q.obs_question_mm_url)
                 </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_eff_st_dt)</div>
                 @Html.DisplayFor(model => model.q.obs_question_eff_st_dt)
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon" style="width:130px">@Html.DisplayNameFor(model => model.q.obs_question_eff_end_dt)</div>
                 @Html.DisplayFor(model => model.q.obs_question_eff_end_dt)
             </div>
         </div>


         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">Description</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="" />
             </div>
         </div>



     </div>
     <div class="col-md-4 personal-info">
         <div class="panel panel-info">
            <div class="panel-heading">Question Metadata</div>
            <div class="panel-body">
               <div class="list-group">
                  <div class="list-group-item">
                      <table class="table table-condensed table-hover">
                          <tr>                            
                             <th>Value</th>
                             <th>Category</th>                            
                          </tr>
                            @if (Model.qAssignedMD.Count == 0)
                            {
                                  <tr>                                       
                                      <td colspan="2">
                                          No associated Metadata found
                                      </td>
                                  </tr>
                            }
                            else
                            {
                                foreach (var md in Model.qAssignedMD)
                                {
                                    <tr>
                                        <td>@md.obs_quest_md_value</td>
                                        <td>@md.obs_quest_md_cat</td>
                                    </tr>
                                }
                            }
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          @Html.ActionLink("Edit", "QuestionAddUpdate", new { id = Model.q.obs_question_id }) |
          @Html.ActionLink("Back to List", "Index")
      </div>
  </div>
</div>
