@model OBSMVC.Models.QuestionMDViewModel

@{ ViewBag.Title = "Details"; }
<style>
    .stdRowWidth {
        width:105px
    }
</style>
<div class="well well-sm"><h3>Question Details</h3></div>
<div class="container">
  <div class="row">
     <!-- Display A single edit form column -->
     <div class="col-md-8 personal-info" style="margin-bottom:4px">
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_ver)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_ver)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_full_text)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_full_text)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_short_text)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_short_text)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_desc)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_desc)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_mm_url)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_mm_url)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_eff_st_dt)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_eff_st_dt)" readonly />
             </div>
         </div>
         <div class="row form-group" style="margin-bottom:4px">
             <div class="input-group">
                 <div class="input-group-addon">
                     <label for="questn_obs_question_desc" class="stdRowWidth">@Html.DisplayNameFor(model => model.q.obs_question_eff_end_dt)</label>
                 </div>
                 <input class="form-control text-box single-line" style="min-width: 100%; width:95%;" type="text" value="@Html.DisplayFor(model => model.q.obs_question_eff_end_dt)" readonly />
             </div>
         </div>



     </div>
     <div class="col-md-4 personal-info">
         <div class="panel panel-info">
            <div class="panel-heading">Question Metadata</div>
            <div class="panel-body">
               <div class="list-group">
                  <div class="list-group-item">
                      <table class="table table-condensed table-hover">
                          <tr>                            
                             <th>Value</th>
                             <th>Category</th>                            
                          </tr>
                            @if (Model.qAssignedMD.Count == 0)
                            {
                                  <tr>                                       
                                      <td colspan="2">
                                          No associated Metadata found
                                      </td>
                                  </tr>
                            }
                            else
                            {
                                foreach (var md in Model.qAssignedMD)
                                {
                                    <tr>
                                        <td>@md.obs_quest_md_value</td>
                                        <td>@md.obs_quest_md_cat</td>
                                    </tr>
                                }
                            }
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="alert-info">Existing Collection Forms where this question is currently being used</div>
      @*<div class="alert-danger">This functionality is under maintenance</div>*@
      <table class="table table-responsive table-striped table-hover" border="1">
          <tr>
              <th style="text-align:center">Form Title</thstyle="text-align:center">
              <th style="text-align:center">Form Number</th>
              <th style="text-align:center">Version</th>
              <th style="text-align:center">Published</th>
              <th style="text-align:center">Live</th>
          </tr>
          @foreach (var x in Model.forms)
          {

              <tr>
                  <td style="text-align:center">@x.obs_cft_title</td>
                  <td style="text-align:center">@x.obs_cft_nbr</td>
                  <td style="text-align:center">@x.obs_cft_ver</td>
                  <td style="text-align:center">
                      <input type="checkbox" disabled="disabled" @if (x.obs_cft_pub_dtm != null || DateTime.Today < x.obs_cft_pub_dtm) { <TEXT> checked="checked" </TEXT>          } />
                  </td>
                  <td style="text-align:center">
                      <input type="checkbox" disabled="disabled" @if ((x.obs_cft_pub_dtm != null || DateTime.Today < x.obs_cft_pub_dtm)&&x.obs_cft_eff_st_dt<=DateTime.Now && x.obs_cft_eff_end_dt>DateTime.Now) { <TEXT> checked="checked" </TEXT>           } />
                  </td>
              </tr>

          }
      </table>      
  </div>
  <div class="row">
      <div class="col-md-12">
          @Html.ActionLink("Edit Question", "QuestionAddUpdate", new { id = Model.q.obs_question_id }) |
          @Html.ActionLink("Back to List", "Index")
      </div>
  </div>
</div>
