@model OBSMVC.Controllers.QuestionController.OBSQuestion
@{  ViewBag.Title = "Question Answer Selection"; }


<br />
@*<div>@ViewBag.Message</div>*@
@using (Html.BeginForm("displayAnswerSection", "Question", FormMethod.Post))
{
    <table style="width:80%; border:1px">
        <tr>
            <td style="width:50%; vertical-align:top">


                <input type="hidden" id="question_id" name="question_id" value="@Model.questionId" />
                <input type="hidden" id="save" name="save" value="false" />

                <br /><br /><br />
                @Html.DropDownList("AnswerTypesDDL", Model.fullAnswerTypeDDL, "None")
                <br />
                <script type="text/javascript">
                    $('#AnswerTypesDDL').on('change', function (event) {
                        var form = $(event.target).parents('form');
                        form.submit();
                    });
                </script>

                @if (Model.selectedAT.hasSelectableAnswers)
                {
                    <b style="color:blue">Current Selectable Answers</b>
                }
                else
                {
                    if(Model.selectedAT.ATcathegory.Equals("3 Val Range"))
                    { 
                        @:<b style="color:red">No Selectable Answers Found - Enter New Values</b>                    
                    }
                    
                }
                <br /><br />
                @{var counter = 1;}
                @foreach (string selEntry in Model.selectedAT.selAnsList)
                {                    
                    var something = "userSelAnsList" + counter;
                    if (selEntry.Equals("Enter a Value"))
                    {
                        <br /><input type="text" id="@something" name="userSelAnsList" value="@selEntry" />                        
                    }
                    else
                    {
                        <ul>
                            <li>
                                @selEntry
                            </li>
                        </ul>
                    }
                    counter++;
                }
                <br />

            </td>
            <td style="width:50%; vertical-align:top">
                <div class="row">
                    <div class="col-md-12 personal-info">
                        <div class="panel panel-info ">
                            <div class="panel-heading">
                                <h4><b>SUGGESTED TEMPLATES</b></h4>
                            </div>
                            <div class="panel-body" id="QATtemplates">
                                <br />
                                <table style="width:100%">
                                    @foreach (string template in Model.templates)
                                    {
                                        <tr>
                                            <td style="width:80%">
                                                @template
                                            </td>
                                            <td style="width:20%">
                                                <input type="button" id="TemplateLInk" value="Use This Template" onclick="testFunction('@template')" />
                                            </td>
                                        </tr>
                                    }
                                </table>

</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br /><br />
                <button type="submit" id="btnSaveDefQuest" onclick=""  disabled="disabled">Save Changes</button>
                <script type="text/javascript">
                    $('#btnSaveDefQuest').on('click', function (event) {
                        var form = $(event.target).parents('form');
                        document.getElementById('save').value = 'true';
                    });
                </script>
                <script type="text/javascript">
                    function testFunction(something)
                        {
                            alert("You selected " + something);
                        }
                    
                </script>
            </td>
        </tr>
    </table>    
}

