@model OBSMVC.Controllers.QuestionController.OBSQuestion
@{  ViewBag.Title = "Question Answer Selection"; }
<br />
@*<div>@ViewBag.Message</div>*@
@using (Html.BeginForm("displayAnswerSection", "Question", FormMethod.Post))
{
    <table style="width:80%; border:1px">
        <tr>
            <td style="width:50%; vertical-align:top">


                <input type="hidden" id="question_id" name="question_id" value="@Model.questionId" />
                <input type="hidden" id="save" name="save" value="false" />

                <br /><br /><br />
                @Html.DropDownList("AnswerTypesDDL", Model.fullAnswerTypeDDL, "None")
                <br />
                <script type="text/javascript">
                    $('#AnswerTypesDDL').on('change', function (event) {
                        var form = $(event.target).parents('form');
                        form.submit();
                    });
                </script>

                @if (Model.selectedAT.hasSelectableAnswers)
                {
                    <b style="color:blue">Current Selectable Answers</b>
                }
                else
                {
                    <br />
                    if (Model.selectedAT.requiresSelectableAnswers)
                    {
                        @:<b style="color:red">Enter New Values</b>
                      
                    }
                    else
                    {
                        @:<b style="color:red">No Selectable Answers required.</b>
                    }
                }
                <br />
                @{var counter = 1;}
                @if (Model.selectedAT.ATcathegory == "MS List" || Model.selectedAT.ATcathegory == "SS List")
                {

                <div id='TextBoxesGroup'>
                    <div id="TextBoxDiv1">
                        @if (Model.selectedAT.hasSelectableAnswers)
                        {


                            for (var x = 1; x <=10;x++)
                            {
                                var id_name = "textbox" + x;
                                if (x <= Model.selectedAT.selAnsList.Count)
                                {

                                <input type='text' id=@id_name class="at_item" name="userSelAnsList" value=@Model.selectedAT.selAnsList[x - 1]><br />
                                }
                                else
                                {
                                    <input type='hidden' id=@id_name name="userSelAnsList"><br />
                                }
                            }
                        }
                        else {
                            <input type='text' id='textbox1' class="at_item" name="userSelAnsList"><br />
                            <input type='hidden' id='textbox2' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox3' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox4' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox5' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox6' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox7' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox8' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox9' name="userSelAnsList"><br />
                            <input type='hidden' id='textbox10' name="userSelAnsList">
                            }
                    </div>
                </div>
                <input type='button' value='Add' id='addButton'>
                <input type='button' value='Remove' id='removeButton'>


                }
                        else {
                            foreach (string selEntry in Model.selectedAT.selAnsList)
                            {
                                var something = "userSelAnsList" + counter;

                       <br /><input type="text" id="@something" name="userSelAnsList" value="@selEntry"
       @if (selEntry.Equals("Enter a Value"))
       { <TEXT> style="font-style:italic; color:gray" </TEXT>  } />

                        counter++;
                    }
                <br />
               }
            </td>
            <td style="width:50%; vertical-align:top">
                <div class="row">
                    <div class="col-md-12 personal-info">
                        <div class="panel panel-info ">
                            <div class="panel-heading">
                                <h4><b>SUGGESTED TEMPLATES</b></h4>
                            </div>
                            <div class="panel-body" id="QATtemplates">
                                <br />
                                @if (!(Model.selectedAT.ATcathegory == "MS List" || Model.selectedAT.ATcathegory == "SS List"))
                                {
                                    <table style="width:100%" id="TemplatesId">
                                    @foreach (string template in Model.templates)
                                    {
                                        <tr>
                                            <td style="width:80%">
                                                @template
                                            </td>
                                            <td style="width:20%">
                                                @if (!Model.templates[0].Equals("NO TEMPLATES NEEDED"))
                                                {
                                                    @*if (!Model.selectedAT.hasSelectableAnswers)
                                {
                                    <input type="button" id="TemplateLInk" value="Use This Template" onclick="testFunction('@template')" />
                                }*@
                                                    <input type="button" id="TemplateLInk" value="Use This Template" onclick="testFunction('@template')" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                                }
                                else
                                { 
                                    <text>NO TEMPLATES AVAILABLE</text>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br /><br />
                <button type="submit" id="btnSaveDefQuest" onclick="" 
                        @if (Model.selectedAT.requiresSelectableAnswers) { 
                            @:disabled= "disabled"
                        }
                >Save Changes</button>
                <script type="text/javascript">
                    $('#btnSaveDefQuest').on('click', function (event) {
                        var form = $(event.target).parents('form');
                        document.getElementById('save').value = 'true';
                    });
                </script>
                <script type="text/javascript">
                    function testFunction(something) {
                        var templateList = something.split(",");
                        //var message = "You selected:\n ";
                        for (var i = 0; i < templateList.length; i++) {
                            var textboxName = "userSelAnsList" + (i + 1);
                            document.getElementById(textboxName).value = templateList[i];
                            document.getElementById(textboxName).style.fontStyle = "normal";
                            document.getElementById(textboxName).style.color = "black";
                            //message = message + templateList[i].trim() + "\n";
                        }
                        document.getElementById("btnSaveDefQuest").disabled = false;
                    }
                </script>
            </td>
        </tr>
    </table>
                    }
<br /><br /><br />
<div>
    @Html.ActionLink("Back to Question Maintenance", "Edit", "Question", new { id = Model.questionId }, null)
</div>

<script>
    $(document).ready(function () {

        var counter = document.getElementsByClassName('at_item').length + 1;
       // alert("There are " + counter + " textboxes");
        // Validate that all textboxes are filled-in
        $('input').change(function () {
            var btnEnabled = true;
            this.style.fontStyle = "normal";
            this.style.color = "black";

            if (btnEnabled) {
                //$('#btnSaveDefQuest').disabled = false;
                $("#btnSaveDefQuest").removeAttr('disabled');
            }
            else { $("#btnSaveDefQuest").attr('disabled', 'disabled'); }
        });

        $("#addButton").click(function () {
            
            if (counter > 10) {
                alert("Only 10 textboxes allow");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('div'))
                 .attr("id", 'TextBoxDiv' + counter);
           
            document.getElementById("textbox" + counter).setAttribute('type', 'text');          
            //newTextBoxDiv.after().html('<label>Value #' + counter + ' : </label>' +
              //    '<input type="text" name="textbox' + counter +
                //  '" id="textbox' + counter + '" value=""  name="userSelAnsList">');

           // newTextBoxDiv.appendTo("#TextBoxesGroup");
            counter++;
        });
        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("No more textbox to remove");
                return false;
            }

            counter--;

            document.getElementById("textbox" + counter).setAttribute('type', 'hidden');
            document.getElementById("textbox" + counter).setAttribute('value', '');

        });

        $('form input[type="text"]').each(function () {
            // Loop through all the Text boxes                
            if (this.value.toString().trim() == "" || this.value == 'Enter a Value') // If the current text box is empty
            {
                btnEnabled = false;
            }
        });

    });
</script>
















