@model OBSMVC.Controllers.QuestionController.OBSQuestion
@{  ViewBag.Title = "Question Answer Selection"; }
<br />
@*<div>@ViewBag.Message</div>*@
@using (Html.BeginForm("displayAnswerSection", "Question", FormMethod.Post))
{
    <table style="width:80%; border:1px">
        <tr>
            <td style="width:50%; vertical-align:top">


                <input type="hidden" id="question_id" name="question_id" value="@Model.questionId" />
                <input type="hidden" id="save" name="save" value="false" />

                <br /><br /><br />
                @Html.DropDownList("AnswerTypesDDL", Model.fullAnswerTypeDDL, "None")
                <br />
                <script type="text/javascript">
                    $('#AnswerTypesDDL').on('change', function (event) {
                        var form = $(event.target).parents('form');
                        form.submit();
                    });
                </script>

                @if (Model.selectedAT.hasSelectableAnswers)
                {
                    <b style="color:blue">Current Selectable Answers</b>
                }
                else
                {
                    <br />
                    if (Model.selectedAT.requiresSelectableAnswers){
                        @:<b style="color:red">Enter New Values</b>
                    }
                    else {
                        @:<b style="color:red">No Selectable Answers required.</b>
                    }
                }
                <br />
                @{var counter = 1;}
                @foreach (string selEntry in Model.selectedAT.selAnsList)
                {
                    var something = "userSelAnsList" + counter;
                    if (selEntry.Equals("Enter a Value"))
                    {
                        <br /><input type="text" id="@something" name="userSelAnsList" value="@selEntry" style="font-style:italic; color:gray" />
                    }
                    else
                    {
                        <ul>
                            <li>
                                @selEntry
                            </li>
                        </ul>
                    }
                    counter++;
                }
                <br />

            </td>
            <td style="width:50%; vertical-align:top">
                <div class="row">
                    <div class="col-md-12 personal-info">
                        <div class="panel panel-info ">
                            <div class="panel-heading">
                                <h4><b>SUGGESTED TEMPLATES</b></h4>
                            </div>
                            <div class="panel-body" id="QATtemplates">
                                <br />
                                <table style="width:100%">
                                    @foreach (string template in Model.templates)
                                    {
                                        <tr>
                                            <td style="width:80%">
                                                @template
                                            </td>
                                            <td style="width:20%">
                                                @if (!Model.templates[0].Equals("NO TEMPLATES NEEDED"))
                                                {
                                                    if (!Model.selectedAT.hasSelectableAnswers)
                                                    {
                                                        <input type="button" id="TemplateLInk" value="Use This Template" onclick="testFunction('@template')" />
                                                    }

                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br /><br />
                <button type="submit" id="btnSaveDefQuest" onclick="" 
                        @if (Model.selectedAT.requiresSelectableAnswers) { 
                            @:disabled= "disabled"
                        }
                >Save Changes</button>
                <script type="text/javascript">
                    $('#btnSaveDefQuest').on('click', function (event) {
                        var form = $(event.target).parents('form');
                        document.getElementById('save').value = 'true';
                    });
                </script>
                <script type="text/javascript">
                    function testFunction(something) {
                        var templateList = something.split(",");
                        //var message = "You selected:\n ";
                        for (var i = 0; i < templateList.length; i++) {
                            var textboxName = "userSelAnsList" + (i + 1);
                            document.getElementById(textboxName).value = templateList[i];
                            document.getElementById(textboxName).style.fontStyle = "normal";
                            document.getElementById(textboxName).style.color = "black";
                            //message = message + templateList[i].trim() + "\n";
                        }
                        document.getElementById("btnSaveDefQuest").disabled = false;
                    }
                </script>
            </td>
        </tr>
    </table>
                    }
<br /><br /><br />
<div>
    @Html.ActionLink("Back to Question Maintenance", "Edit", "Question", new { id = Model.questionId }, null)
</div>

<script>
    $(document).ready(function () {
        // Validate that all textboxes are filled-in
        $('input').change(function () {
            var btnEnabled = true;
            this.style.fontStyle = "normal";
            this.style.color = "black";

            $('form input[type="text"]').each(function () {
                // Loop through all the Text boxes                
                if (this.value.toString().trim() == "" || this.value == 'Enter a Value') // If the current text box is empty
                {
                    btnEnabled = false;
                }                    
            });

            if (btnEnabled) {
                //$('#btnSaveDefQuest').disabled = false;
                $("#btnSaveDefQuest").removeAttr('disabled');
            }
            else { $("#btnSaveDefQuest").attr('disabled', 'disabled'); }
        });
    });
</script>






















