@model OBSMVC.Models.QuestionMDViewModel
@{  ViewBag.Title = "Edit Question"; }

<div class="well well-sm" style="text-align:center"><h3>Edit Question Information</h3></div>
<script type="text/javascript">
    //$(function () {
    //    $("input:text.editDate").datepicker({
    //        changeMonth: true,
    //        changeYear: true,
    //        dateFormat: 'M dd, yy'
    //    });
    //});
    $(function () {
        $("#obs_question_eff_st_dt").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'M dd, yy'
        });
    });
    $(function () {
        $("#obs_question_eff_end_dt").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'M dd, yy'
        });
    });

</script>

<!-- Form Edit State Change Validation -->
<script>
    $(document).ready(function () {
        var isChanged = false;
        $('input, select, textarea').change(function () {
            //$("input[type='submit']").removeAttr("disabled");
            $("#btnSave").removeAttr('disabled');
            isChanged = true;
        });
        $(window).bind('beforeunload', function () {
            if (isChanged) {
                return 'There are unsaved changed. Do you want to discard Changes and Exit?';
            } else {
                return undefined;
            }
        });
        $("#btnSave").click(function () {
            isChanged = false;
            $(this).button('loading');
        });
        //$(".btn").click(function () {
        //    isChanged = false;
        //    $(this).button('loading');
        //});
    });
</script>

<script>
    //Make all inner panel the same hight as the tallest panel (For proportional display)
    $(document).ready(function () {
        var heightTallest = Math.max.apply(null, $(".panel-info").map(function () {
            return $(this).outerHeight();
        }).get());
        $('.panel-info').css({ height: heightTallest + 'px' });
    });
</script>
<script type="text/javascript">
    @*$(function(){
        $('#refresh').click(function(){
            $.post('@Url.Action("displayAnswerSection", "Question")').always(function(){
                $('.target').Load('/Question/displayAnswerSection/3');
            })
        });
    });*@
    //$.ajax({
    //    url: '/Question/displayAnswerSection/3',
    //    type: "GET",
    //    dataType: "html",
    //    data: $("#FormId").serialize(),
    //    success: function (data) {
    //        //Fill div with results
    //        $("#answerSection").html(data);
    //    },
    //    error: function () { alert('error'); }
    //});
    $(function(){
        $('#refresh').click(function(){
            $.post('@Url.Action("displayAnswerSection", "Question/" + Model.q.obs_question_id)')
        });
    });

    <li>@Html.ActionLink("Temp ObsQA", "DisplayAnswerSection", "Question")</li>
</script>

@*<script>
        $(function () {
            setTimeout(function () {
                $("#ConfMsg").hide();
            }, 3000);
        });
    </script>*@
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="container">
    <form class="form-horizontal" role="form" method="post">
        <div class="row">
            <!-- Display A single edit form column -->
            <div class="col-md-6 personal-info">

                @Html.AntiForgeryToken()

                <div class="form-group row">
                    <input type="hidden" value="@Model.q.obs_question_id" name="q.obs_question_id" id="q.obs_question_id">
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.q.obs_question_full_text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group col-md-6">
                        @*<input type="text" value="@Model.q.obs_question_full_text" class="form-control" name="obs_question_full_text" id="obs_question_full_text" />*@
                        @Html.EditorFor(model => model.q.obs_question_full_text, new { htmlAttributes = new { @class = "form-control ", @cols = 80, @rows = 3 } })
                        @Html.ValidationMessageFor(model => model.q.obs_question_full_text, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.q.obs_question_short_text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group col-md-6">
                        @Html.EditorFor(model => model.q.obs_question_short_text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.q.obs_question_short_text, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.q.obs_question_eff_st_dt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group col-md-6">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @*@Html.EditorFor(model => model.q.obs_question_eff_st_dt, new { htmlAttributes = new { @class = "form-control", id = "q.obs_question_eff_st_dt", name = "q.obs_question_eff_st_dt" } })*@
                        <input type='text' class="form-control" id='obs_question_eff_st_dt' name="q.obs_question_eff_st_dt" value="@Model.q.obs_question_eff_st_dt" />
                        @Html.ValidationMessageFor(model => model.q.obs_question_eff_st_dt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.q.obs_question_eff_end_dt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group col-md-  6">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @*<input type='text' class="form-control" id='obs_question_eff_end_dt' name="q.obs_question_eff_st_dt" value="@Model.q.obs_question_eff_end_dt" />*@
                        @Html.EditorFor(model => model.q.obs_question_eff_end_dt, new { htmlAttributes = new { @class = "form-control", id = "q.obs_question_eff_end_dt", name = "q.obs_question_eff_end_dt" } })
                        @Html.ValidationMessageFor(model => model.q.obs_question_eff_end_dt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6 personal-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Rasul Section
                    </div>
                    <div class="target" id="answerSection">
                        @*@Html.Partial("_listAnswerTypes")*@
                        @{ Html.RenderAction("displayAnswerSection", new { question_id = Model.q.obs_question_id});}
                    </div>
                    <input type="button" id="refresh" value="Change Answer Type" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 personal-info">
                <div class="panel panel-info">
                    <div class="panel-heading">Assigned Question Metadata</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                @foreach (int item in Model.preMetaDataIds)
                                {
                                    <input type="hidden" id="origTags" name="origTags" value="@item" />
                                }
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <th></th>
                                        <th>Value</th>
                                        <th>Category</th>
                                    </tr>
                                    @foreach (var item in Model.qAssignedMD)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="qAssignedMD" name="qAssignedMD" checked="checked" value="@item.obs_quest_md_id" />
                                            </td>
                                            <td>
                                                @*<input type="hidden" id="qAssignedMD" name="qAssignedMD" value="@item.obs_quest_md_id" />*@
                                                @item.obs_quest_md_value
                                            </td>
                                            <td>
                                                @item.obs_quest_md_cat
                                            </td>
                                        </tr>
                                    }
                                </table>
                                <br />
                                @*@{Html.RenderAction("qMetaDataList", new { postId = p.Id });}*@
                                @*@{Html.RenderAction("qMetaDataList");}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 personal-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    Available Metadata Tags
                                </td>
                                <td style="text-align:left">
                                    @Html.ActionLink("[Add New Metadata Tag]", "Create", "QuestionMetadata", new { qId = Model.q.obs_question_id }, null)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <table class="table table-condensed table-hover">
                                    <tr>
                                        <th></th>
                                        <th>Value</th>
                                        <th>Category</th>
                                    </tr>
                                    @foreach (var item in Model.qUnassignedMD)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" value="@item.obs_quest_md_id" id="qAssignedMD" name="qAssignedMD">
                                            </td>
                                            <td>                                                
                                                @item.obs_quest_md_value
                                            </td>
                                            <td>
                                                @item.obs_quest_md_cat
                                            </td>
                                        </tr>
                                    }
                                </table>
                                <br />
                                @*@{Html.RenderAction("qMetaDataList", new { postId = p.Id });}*@
                                @*@{Html.RenderAction("qMetaDataList");}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-6">
                        <button type="submit" class="btn btn-primary" disabled="disabled" id="btnSave">Save Changes</button>
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>

                @if (ViewBag.ConfMsg != null)
                {
                    <div id="ConfMsg" style="text-align:center; font-weight: bold; color:green">
                        @ViewBag.ConfMsg
                    </div>
                    <script>
                        $(function () {
                            setTimeout(function () {
                                $("#ConfMsg").hide();
                            }, 3000);
                        });
                    </script>
                }

            </div>
        </div>
    </form>
    @*<div class="row">
           @if (ViewBag.ConfMsg != null)
           {
              <div id="ConfMsg" style="text-align:center; font-weight: bold; color:green">
                  Employee Information Saved Successfully.
              </div>
           }
        </div>*@
    <div class="row">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
