@model IEnumerable<OBSMVC.Models.OBS_QUESTION>

@{
    ViewBag.Title = "Question Maintenance";
}
<br/>
<h2>Question Maintenance</h2>


<p>
@using (Html.BeginForm("Index", "Questions", FormMethod.Get))
{
    <table style="width:100%">
       
       <tr>
           <td style="text-align:left">
               @Html.TextBox("search") <input type="submit" value="Search" />
           </td>
           <td style="text-align:end">
               <b>@Html.ActionLink("Create New", "Create")</b>
           </td>
       </tr>
        
        
        
    
     </table>
       
   }
</p>
<table class="table" border="1">
    <tr>        
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.obs_question_full_text)
        </th>
        <th style="text-align:center">
           Active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.obs_question_id })
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.obs_question_full_text)
        </td>       
        <td style="text-align:center">
            <input type="checkbox" disabled="disabled" @if (DateTime.Now >item.obs_question_eff_st_dt && DateTime.Now<=item.obs_question_eff_end_dt) { <TEXT> checked="checked" </TEXT>     } />           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.obs_question_id })  
        </td>
    </tr>
}

</table>
