@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OBSMVC.Models.OBS_QUESTION>
<style>
    .newBtn {
        padding: 3px 5px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

        .newBtn:hover {
            padding: 3px 5px;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
</style>

@{  ViewBag.Title = "Question Maintenance";  }

@{
    var searchText = Request.QueryString["search"];
    //var activeChkd = String.IsNullOrEmpty(Request.QueryString["includeActiveOnly"])?"":"checked";
}
<div class="well well-sm smallRowMargin" style="padding: 4px; font-size:xx-large; text-align:center">
    <span> Question Maintenance </span>
</div>

@{
    if (ViewBag.firstPageDisplay == null)
    {
        ViewBag.searchActiveOnly = "Y";
    }
}

@using (Html.BeginForm("Index", "Question", FormMethod.Get))
{
    <div class="row" style="margin: 0px 0px 10px 0px;">
        <div class="col-sm-3" style="margin-left:0px; padding: 0px 0px">
            <div class="input-group" style="margin-left: 0px; ">
                <input type="text" id="search" name="search" class="form-control" placeholder="Search for..." value="@searchText">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-4">
            <label>
                <input type="checkbox" name="includeActiveOnly" id="includeActiveOnly" @if (ViewBag.searchActiveOnly == "Y") { <text> checked="checked" </text>       }>
                Search Active Questions Only
            </label>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-5" style="height:34px;">
            <button type="button" class="btn btn-primary btn-sm newBtn" style="float:right; margin-top: 3px" onclick=" window.location.href='/Question/QuestionAddUpdate/' ">
                <span class=" glyphicon glyphicon-plus-sign"></span> Add New Question
            </button>
        </div><!-- /.col-sm-5 -->
    </div><!-- row -->





    @*<table style="width:100%">

            <tr>
                <td style="text-align:left">
                    @Html.TextBox("search") <input type="submit" value="Search" />
                    &nbsp;

                </td>
                <td style="text-align:right">
                    /// <b>@Html.ActionLink("Add New Question", "Create")</b>
                </td>
            </tr>
        </table>*@


}


<table class="table table-condensed table-hover" border="1">
    <tr style="background-color:gainsboro">
        <th style="text-align:center; width:4%">Id</th>
        <th>
            @Html.DisplayNameFor(model => model.First().obs_question_full_text)
        </th>
        <th style="text-align:center; width:5%">
            Active
        </th>
        <th style="width:5%"></th>
        <th style="width:5%"></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4"><font color="red">Question not found</font></td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @item.obs_question_id
                </td>
                <td>
                    @Html.ActionLink(item.obs_question_full_text, "Details", new { id = item.obs_question_id })
                    @*@Html.DisplayFor(modelItem => item.obs_question_full_text)*@
                </td>
                <td style="text-align:center">
                    <input type="checkbox" disabled="disabled" @if (DateTime.Today >= item.obs_question_eff_st_dt && DateTime.Today < item.obs_question_eff_end_dt) { <TEXT> checked="checked" </TEXT>          } />
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.obs_question_id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "QuestionAddUpdate", new { id = item.obs_question_id })
                </td>
            </tr>
        }
    }
</table>
<table style="width:100%">
    <tr>
        <td style="text-align:left">
            @if (!String.IsNullOrWhiteSpace(Request.QueryString["search"]))
            {
                <p> @Html.ActionLink("Show All Questions", "Index")</p>
            }
        </td>
        <td style="text-align:right">
            @using (Html.BeginForm("Index", "Question", FormMethod.Get))
            {
                <input type="hidden" value="@Request.QueryString["search"]" id="search" name="search" />
                <input type="hidden" value="" id="includeActiveOnly2" name="includeActiveOnly" />
                <b>Rows Per Page</b>
                @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "25", 25 }, { "50", 50 } }, "Key", "Value", ViewBag.CurrentItemsPerPage), new { id = "PageSize" })
                <script type="text/javascript">
                    $('#PageSize').on('change', function (event) {
                        var form = $(event.target).parents('form');
                        $('#includeActiveOnly2').val(document.getElementById("includeActiveOnly").value)
                        form.submit();
                    });
                </script>
            }
        </td>
    </tr>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.CurrentItemsPerPage, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })