@model OBSMVC.Controllers.CollectionFormSection
@{
    var sectionNbr = @ViewData["sNumber"].ToString();
    string sectionId = "sectionId" + sectionNbr;
    string sectionIdHandle = "#" + sectionId;
}

<div class="panel panel-default formSection" id="TEST_SECTION">
    <div class="panel-heading form-inline" style="background-color:lightblue">
        <h4 class="panel-title">
            @* If we need to autoclose all section when one is opened use <a>property ->  'data-parent="#accordion"' *@
            <a class="accordion-toggle" data-toggle="collapse" href="@sectionIdHandle">
                <span class="glyphicon glyphicon-minus">&nbsp; </span>
                <span>Section Name:</span>
            </a>
            &nbsp;
            <input type="text" class="form-control input-sm sectionTitle" style="width:50%" value="@Model.sectionName" readonly="readonly" />
        </h4>
    </div>
    <div id="@sectionId" class="panel-collapse collapse in" style="margin-left:20px">
        <div class="right row">
            <ol class="list-group targetList connected">
                @if (Model.colFormQuestionList.Count > 0)
                {
                    int questionCounter = 1;

                    foreach (OBSMVC.Controllers.CollectionFormQuestion sectQuest in Model.colFormQuestionList)
                    {
                        string listId = "li" + questionCounter.ToString("00");
                        <li id="@listId" style="margin-bottom:8px">
                            @*<a href='#' class='dismiss'>x</a>*@

                            <div class="row divFormQuestion" style="text-align:left">
                                <div class="row" style="margin-top:8px;">
                                    <div class="col-sm-11" style="margin-left:20px">
                                        <p id="qText" style="font-family:Arial; font-weight:bold; font-size:larger">@sectQuest.cfq_fullText</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7 col-sm-offset-1">
                                        <div class="input-group reloadDDL">
                                            <div class="input-group-addon" style="font-weight:bold">Answer Type:</div>
                                            <input type="text" class="form-control" value="@sectQuest.cfq_AT" readonly="readonly" disabled>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="cbOptional" value="" @if (@sectQuest.cfq_na_yn == "Y") { <text> checked="checked" </text>   } disabled>
                                                Optional
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:8px">
                                    <div class="col-sm-11 col-sm-offset-1">
                                        <div class="col-sm-2">
                                            Selectable Answers: &nbsp;&nbsp;
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="form-inline selAnsSection">
                                                @if (sectQuest.cfq_SelectableAnswers.Count() > 0)
                                                {
                                                    foreach (var x in sectQuest.cfq_SelectableAnswers)
                                                    {
                                                        <div style="display: inline">
                                                            <span class="badge">@x</span>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <span style="color:blue">No Selectable Answers Required for this Selection</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                      questionCounter++;
                    }
                }
            </ol>
        </div>
    </div> @*End of Section*@
</div>
