@model OBSMVC.Controllers.CollectionFormSection
@{
    var sectionNbr = @ViewData["sNumber"].ToString();
    string txtSectionName = "txtSectionName" + sectionNbr;
    string sectionId = "sectionId" + sectionNbr;
    string sectionIdHandle = "#" + sectionId;
    string olListId = "olList" + sectionNbr;
}

<div class="panel panel-default formSection" id="TEST_SECTION">
    <div class="panel-heading form-inline" style="background-color:lightblue">
        <h4 class="panel-title">
            @* If we need to autoclose all section when one is opened use <a>property ->  'data-parent="#accordion"' *@
            <a class="accordion-toggle" data-toggle="collapse" href="@sectionIdHandle">
                <span class="glyphicon glyphicon-minus">&nbsp; </span>
                <span>Section Name:</span>
            </a>
            &nbsp;
            <input type="text" id="@txtSectionName" onfocus="$(this).select();" class="form-control input-sm sectionTitle" style="width:55%" placeholder="<Enter Section Name>" value="@Model.sectionName" required />            
            <button type="button" id="btnDelSection" class="btn btn-default btnDelSection" style="float:right; display:none">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </h4>
    </div>
    <div id="@sectionId" class="questionContainer panel-collapse collapse in" style="margin-left:20px; clear:both" @*style="border:dashed; border-width:medium"*@>
        <div class="right row" id="dsdsds">
            <ol class="list-group targetList connected" id="@olListId" @*ondrop="addQid(event)"*@>
                  @if (Model.colFormQuestionList.Count > 0)
                  {
                      int questionCounter = 1;
                      
                      foreach (OBSMVC.Controllers.CollectionFormQuestion sectQuest in Model.colFormQuestionList)
                      {
                          string listId = "li" + questionCounter.ToString("00");
                        <li id="@listId" class="question ">
                            <a href='#' class='dismiss'>x</a>
                              @*@questionCounter.ToString("00"): This is Question ID=@sectQuest.cfq_questId [under Section "@Model.sectionName"]*@
                            @*/--------- --------------------------------------------------------------------\
                              |       If this is an existing form that is being edited,                      |
                              |         Attach all existing question here with a "Render Action" command     |
                              |  url:    '@Url.Action("getQuestionInfo", "ColFormTemplate")'                 |
                              |  method: "GET", param data: { question_id: qid, qCounter: newCounterSeq }    |
                              |                                                                              |
                              \------------------------------------------------------------------------------/*@
                            @Html.Action("getQuestionInfo", new { question_id = @sectQuest.cfq_questId, question_QATid = sectQuest.cfq_qatId, qCounter = @sectQuest.cfq_seqInForm + 1, isOptional = @sectQuest.cfq_na_yn })
                        </li>
                        questionCounter++;
                      }
                  }
                <li class="list-group-item placeholder">
                    <div style="font-weight:bold; font-size:large">
                        <br />Drag a question here...<br /><br />
                    </div>
                </li>
            </ol>
        </div>
    </div> @*End of Section*@
</div>

<script>
    $(document).ready(function () {
        $('input').change(function () {
            if ($(this).val() == "") {
                $('#btnSaveForm').button('reset');
            }
            $("#btnSaveForm").removeAttr('disabled');
            //isChanged = true;
            $(this).removeClass("invalidField");
        });
    });
    


</script>