@model  IEnumerable<OBSMVC.Controllers.AvailableQuestions>

@{var listEntries = (Model as List<OBSMVC.Controllers.AvailableQuestions>).Count; }
@{
    int rowCounter = 0;
    string rowId = "";
}


@if (listEntries > 0)
{

    <ul class="list-group sourceList" id="libraryQuestions">
        @foreach (var question in Model)
        {
            rowCounter++;
            //rowId = "row" + rowCounter.ToString("00");
            rowId = @question.obs_question_id.ToString("00");
            <li id="@rowId" class="list-group-item" data-toggle="tooltip" title="Drag to the left to Add!" data-qid="@question.obs_question_id"> @*<span class="badge" style="width:60px">Id: @question.obs_question_id</span>*@ @question.obs_question_full_text</li>
        }
    </ul>


    @*<ul class="list-group">
        <li id="draggable" class="list-group-item ui-state-highlight liElement draggableItem">Drag me Over to the Form</li>
    </ul>*@



}
else
{
    <div class="alert alert-danger" style="color:red">
        <strong>Warning!</strong> &nbsp;&nbsp; THERE ARE NO RECORDS TO DISPLAY
    </div>
}

@*@if (listEntries > 0)
{

    <table class="table table-responsive table-condensed table-hover">
        <thead>
            <tr style="background-color:lightgray">
                <th>ID</th>
                <th>Question Text</th>
            </tr>
        </thead>
        @{
    int rowCounter = 0;
    string rowId = "";
        }
        @foreach (var question in Model)
        {
            rowCounter++;
            //rowId = "row" + rowCounter.ToString("00");
            rowId = @question.obs_question_id.ToString("00");
            <tr id="@rowId" draggable="true">
                <td>@question.obs_question_id</td>
                <td>@question.obs_question_full_text</td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-danger" style="color:red">
        <strong>Warning!</strong> &nbsp;&nbsp; THERE ARE NO RECORDS TO DISPLAY
    </div>
}*@


@*<script>
    $(function () {
        $("#dragMe").draggable({ revert: true, opacity: 0.7, helper: "clone", cursor: "move", cursorAt: { top: 56, left: 56 } });
        //$("#draggable5").draggable({ containment: "#containment-wrapper", scroll: false });
        //$("#draggable5").draggable({ containment: "parent" });
    });
</script>*@

