@model  OBSMVC.Controllers.QuestionInfo
@* ===== THIS PARTIAL VIES REPRESENTS A SINGLE QUESTION ANSWER TYPE ADDED TO THE FORM======= *@ 

@{var qViewId = "qRow" + @Model.uniqueCounter;
  var qbtnCloseId = "btnClose" + @Model.uniqueCounter;
  var hidden_field = "currentSelectedQAT" + Model.uniqueCounter;
  var dropdown_id = "AssignedAnswers" + Model.uniqueCounter;
  var dropdown2 = "#AssignedAnswers" + Model.uniqueCounter;
  var rowInfo = "";
  var current_selected = "-1";
  var btnModal = "btnModal" + Model.question_id;
  var ulId = "ul" + @Model.uniqueCounter;
}


<div class="row divFormQuestion" id="@qViewId" style="text-align:left">
    <input type="hidden" id="qid" value="@Model.question_id" />
    <div class="row" >
        <div class="col-sm-1" style="text-align:right">
            @*[@Model.uniqueCounter]*@
        </div>
        <div class="col-sm-10">
            <p id="qText" style="font-family:Arial; font-weight:bold; font-size:larger">@Model.full_text</p>
        </div>
        @*<div class="col-sm-1">
            <button type="button" id="@qbtnCloseId" class="btnClose" onclick="removeSection('@qViewId')" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
        </div>*@
    </div>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
            <div class="input-group reloadDDL" >
                <div class="input-group-addon">Answer Type</div>
                @Html.DropDownList("AssignedAnswers", Model.question_assigned_answer_types, "-Select Answer Type-", new { id = dropdown_id, @class = "viewDropDown form-control" })
                <br />
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
            <div class="checkbox" >
                <label><input type="checkbox" id="cbOptional" value=""
                  @if (@Model.isOptional == "Y") { <text> checked="checked" </text> } >Optional</label>
            </div>
        </div> 
                @*<div class="col-sm-4">
            <button type="button" class="btnEditQAT" id="@btnModal" onclick="loadModal(@Model.question_id)">Edit Question Info</button>
        </div>*@    
    </div>
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">

            <div class="col-sm-3">
                Selectable Answers: &nbsp;&nbsp;
            </div>
            <div class="col-sm-9">
                <div class="form-inline selAnsSection" id="@ulId">
                    @if (Model.hasInstances == true && Model.question_assigned_answer_types.Where(item => item.Selected == true).Count() > 0)
                    {
                        current_selected = Model.question_assigned_answer_types.Single(item => item.Selected == true).Value;
                        foreach (var x in Model.selectable_answers.Where(x => x.obs_qat_id == Convert.ToInt32(Model.question_assigned_answer_types.Single(item => item.Selected == true).Value)))
                        {
                            <div style="display: inline">
                                <span class="badge">@x.obs_qsa_text</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <input class="currentQATid" type="hidden" id="@hidden_field" name="@hidden_field" value="@current_selected"> @*This line might not be needed anymore*@
    @*@{rowInfo += current_selected + "~Header Section";}*@
    <input class="hdnFormQuestion" type="hidden" id="formQuestions" name="formQuestions" value="@rowInfo" />
</div>

@* ================================= SCRIPTS SECTION ============================================*@
<script type="text/javascript">
    $(document).ready(function(){
        $("@dropdown2").change( function (event) {
            var $drop_down = $(this);
            var selectedId = $(this).val();
            var selectedText = $(this).children("option:selected").text();
            var ddlId = $(this).prop("id");
            var selectedQId = $(this).parents(".divFormQuestion").first().find("#qid").first().val();
            // Dynamically Set the Question Id within the Popup form Scope before it is opened
            $("#popupQID").val(selectedQId);

            if (selectedId != "") {
                $('#btnSaveForm').button('reset');
            }
            //alert("Selected Text is: " + selectedText);
            //alert("Before opening modal window, the ddl id is: " + ddlId);
            if (selectedId == '') {
                selectedId = "-1";
                $("#@Model.uniqueCounter").html("");
                $("#@ulId").html("");
            }
            else if(selectedId == 'New'){
                //alert("A New Question request has been issued!");
                //Refresh the popup status indicator.                
                $("#popupStatus").val("");
                $(this).parents(".divFormQuestion").first().find(".selAnsSection").first().html("");
                //Reset the modal Window contents
                clearNewSAbox();
                //Set the Hidden Field Values that will be used in Edit Mode
                if ($("#popupDDLid").val() != ddlId)
                {  // This indicates that a new Dropdown is being selected for edition!
                    //Reset the old values from the "added" section, as they do not need to be kept from a previous different Selectable Answer
                    $("#divaddedSA").html("");
                }
                $("#popupDDLid").val(ddlId);
                $("#selQText").html("@Model.full_text");
                $("#editQATWindow").modal();
                @*loadModal(@Model.question_id, ddlId);*@
            }else
            {
                if (selectedText.substring(0,2) == "YN" || selectedText.substring(0,2) == "Fr")
                {
                    $("#@ulId").html('<span style="color:blue">No Selectable Answers Required for this Selection</span>')
                }
                else{
                    //alert("Selected ID "+selectedId);
                    $.ajax({
                        url: '@Url.Action("GetSelectableAnswers", "ColFormTemplate")',
                        method: "GET",
                        cache: false,
                        data: { qat_id: selectedId },
                        error: function () {
                            alert("Can't find data for this question!!");  //<-- Trap and alert of any errors if they occurred
                        }
                    }).done(function (d) {
                        //alert("Retrieved Data is: " + d);
                        $("#@ulId").html(d);
                    });
                }
            }
            var cur_sel = document.getElementById("currentSelectedQAT"+@Model.uniqueCounter);
            cur_sel.value = selectedId;
            $(this).css({
                "color": "black",
                "background-color": "white"
            });
        })
    });
</script>
@* ================================= END OF SCRIPTS SECTION ============================================*@
