@model  OBSMVC.Controllers.QuestionInfo

    <table class="table table-responsive table-condensed table-hover">
        <thead>
            <tr style="background-color:lightgray">
                <th>ID is: [@Model.uniqueCounter]</th>
                <th>Question Text</th>
                <th>Answer Type</th>
                <th>
                   <button type="button" class="close" aria-label="Close"><span aria-hidden="true" style="border:inset">&times;</span></button>
                </th>
            </tr>
        </thead>      
        <tr>
            <td>@Model.uniqueCounter</td>
            <td>@Model.full_text</td>
            <td>@Html.DropDownList("AssignedAnswers", Model.question_assigned_answer_types, "Select Answer Type",new { id = "AssignedAnswers", @class="viewDropDown"}) <br />
                @{
                    var current_selected = -1;
                 }
                @if (Model.hasInstances == true && Model.question_assigned_answer_types.Where(item => item.Selected == true).Count() > 0)
                {
                    current_selected = Convert.ToInt32(Model.question_assigned_answer_types.Single(item => item.Selected == true).Value);
                    <ul id="@current_selected">
                        @foreach (var x in Model.selectable_answers.Where(x => x.obs_qat_id == Convert.ToInt32(Model.question_assigned_answer_types.Single(item => item.Selected == true).Value)))
                        {
                            @*if (Model.assigned_answer_types.Single(ans_type => ans_type.obs_ans_type_id == (Model.obs_question_answer_types.Single(y => y.obs_qat_id == Convert.ToInt32(Model.question_assigned_answer_types.Single(item => item.Selected == true).Value)).obs_ans_type_id)).obs_ans_type_category == "3 Val Range")
                            {
                                <li><a data-toggle="pill">@x.obs_qsa_text</a></li>
                            }
                            else
                            {
                                  <li>@x.obs_qsa_text</li>
                            }*@
                            <li style="display: inline"><span class="badge">@x.obs_qsa_text</span></li>
                        }
                    </ul>
                }
            </td>
            <td></td>         
    </table>
    <input type="hidden" id="currentSelectedQAT" name="currentSelectedQAT" value= "@current_selected" >


<script type="text/javascript">
    $(".viewDropDown").change( function (event) {
        var $drop_down = $(this);
        var selectedId = $(this).val();
        if (selectedId == '') {
            selectedId = "-1";
        }
        else {
            $.ajax({
            url: '@Url.Action("GetSelectableAnswers", "ColFormTemplate")',
            method: "GET",
            cache: false,
            data: { qat_id: selectedId },
            error: function () {
                alert("Can't find data for this question!!");  //<-- Trap and alert of any errors if they occurred
            }
        }).done(function (d) {
            //Execute this code After the Ajax call completes successfully
            // alert("result is "+d);
            $("#"+@current_selected).html(d);            
        });
        }
        var cur_sel = document.getElementById("currentSelectedQAT");
        cur_sel.value = selectedId;
        //alert("hidden = " + document.getElementById("currentSelectedQAT").value);
    })
</script>
