@model OBSMVC.Controllers.oCollectionForm

@{ ViewBag.Title = "Create/Edit Form"; }
@*=======================================  STYLES, SCRIPTS AND ANNOTATIONS ===============================================*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
    .obsStd {
        border:1px solid; 
        background-color: ThreeDFace;    
    }
    .obsStd:hover {
        background-color: cornsilk;
    }
</style>

<link href="~/Content/pageCSS/addEditForm.css" rel="stylesheet" />
<script src="~/Scripts/AddEditForm.js"></script>

@*===========================================  MAIN VIEW PAGE CODE =======================================================*@
@{
    var cancelEnabled = "";
    var frmWasChanged = "N";
    var attentionCalss = "";
    bool disableDropdowns = false;
    bool 
    if (!@Model.manageAction.Contains("MANAGE")) { cancelEnabled = "disabled"; }    
    if (@Model.manageAction.Equals("MANAGE-NEW-VERSION")) { attentionCalss = "lookatMe"; }
    if (@Model.cft_Version > 1) { disableDropdowns = true; }
    string fMode = @Model.cft_editMode;
    int masterCounter = 1;
    string rowInfo = masterCounter.ToString();
    string colFormId = Model.cft_id.ToString();
    int nextQuestion = Model.questCount() + 1;
    string form_num = Model.cft_Nbr > 0 ? Model.cft_Nbr.ToString() : String.Empty;
    string form_version = Model.cft_Nbr > 0 ? Model.cft_Version.ToString() : String.Empty;
    //string errorMessage = (Session["exception"] == null) ? "" : Session["exception"].ToString();
    string errorMessage = (Session["errorMessage"] == null) ? "" : Session["errorMessage"].ToString();
}

<div class="row" style="margin-left:2px; margin-right:2px">
    <div class="jumbotron smallRowMargin col-sm-12" style="padding: 4px; margin-bottom:8px; text-align:center">
        <div class="col-sm-11 smallRowMargin" style="padding: 4px; margin-bottom:8px; text-align:center">
            <span style="font-size:xx-large;" title="@Model.manageAction">@Model.screen_Title</span><br />
            <div class="alert-success" id="divMessage" style="text-align:center; font-size:x-large; display:none ">
                Data Saved Successfully
            </div>
        </div>

        @if (@Model.str_cft_canBdeleted)
        {
            <div id="divDelete" class="col-sm-1" style="padding: 4px; margin-bottom:8px; text-align:right; float:right">
                <button type="button" class="btn btn-danger btn-sm newBtn" id="btnDeleteForever" style="padding:2px">
                    <span class="glyphicon glyphicon-remove-sign"></span> Delete Form
                </button>
            </div>
        }
        <div id="message" style="display:none"></div>
    </div>
</div>
<div style="clear:both;"></div>

@if (!String.IsNullOrEmpty(errorMessage))
{
    <div class="row">
        <div class="alert alert-danger col-sm-12">
            <strong>Warning!</strong> @errorMessage
        </div>
    </div>
}
@{    Session["errorMessage"] = ""; }

@* - - - - - - - - - - - - - - - - BEGINING OF THE "CREATE COLLECTION FORM" FORM - - - - - - - - - - - - - *@
@*// ---- Helper Hidden Fields to Control the Inner Ids ----- *@
<input type="hidden" id="masterItemCounter" value="1" />
<input type="hidden" id="qCounter" value="@nextQuestion" />
<input type="hidden" id="sCounter" value="@Model.colFormSections.Count" />
<input type="hidden" id="formMode" value="@fMode" />
<input type="hidden" id="cft_id" value="@Model.cft_id" />
<input type="hidden" id="id" value="@Model.cft_id" />
<input type="hidden" id="formChanged" value="@frmWasChanged">
<input type="hidden" id="bootstrapBtnReset" value="N">
<input type="hidden" id="frmEventCounter" value="0">
@*\\ ---- End of Hidden Control Fields section ----- *@


<form class="form-horizontal" id="CreateForm" role="form" method="post" @*onkeydown="return event.keyCode!=13"*@>
    @Html.AntiForgeryToken()
    @*<input type="hidden" id="cft_mode" value="@fMode"  />*@
    <input type="hidden" id="frmAction" name="frmAction" value="@Model.manageAction" />

    <div class="panel panel-default" style="margin-bottom:8px">
        @* - - - - - - - - - - - - - - <<<<< STARTS OF FORM HEADER >>>>> - - - - - - - - - - - - - *@
        <div class="panel-heading header" style="margin-bottom:8px">
            <div class="form-group row" style="margin-bottom:8px">
                <div class="col-sm-7">
                    <div class="input-group">
                        <div class="input-group-addon">Form Title:</div>
                        @Html.EditorFor(model => model.cft_Title, new { htmlAttributes = new { @class = "form-control", required = "required", style = "max-width: 100%; width:100%; font-size:large; font-weight:bold" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.cft_Title, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group-addon">Subtitle:</div>
                        @Html.EditorFor(model => model.cft_SubTitle, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%; width:100%; font-size:large; font-weight:bold" } })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom:8px">
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Observation Type</div>
                        @*@Html.DropDownListFor(model => model.cft_obsType, ViewBag.cft_obsType as SelectList, new { @class = "form-control", name = "cft_obsType" })*@
                        @if (disableDropdowns)
                        {
                            @Html.DropDownList("cft_obsType", null, "- Select Observation Type -", htmlAttributes: new { @class = "form-control", name = "cft_obsType", @readonly = "readonly", disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownList("cft_obsType", null, "- Select Observation Type -", htmlAttributes: new { @class = "form-control", name = "cft_obsType" })
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Customer</div>
                        @*@Html.DropDownListFor(model => model.cft_Cust, ViewBag.cft_Cust as SelectList, new { @class = "form-control", name = "cft_Cust" })*@
                        @if (disableDropdowns)
                        {
                            @Html.DropDownList("cft_Cust", null, htmlAttributes: new { @class = "form-control", name = "cft_Cust", @readonly = "readonly", disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownList("cft_Cust", null, htmlAttributes: new { @class = "form-control", name = "cft_Cust" })
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Whse Location</div>
                        @*@Html.DropDownListFor(model => model.cft_LC, ViewBag.cft_LC as SelectList, new { @class = "form-control", name = "cft_LC" })*@
                        @if (disableDropdowns)
                        {
                            @Html.DropDownList("cft_LC", null, htmlAttributes: new { @class = "form-control", name = "cft_LC", @readonly = "readonly", disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownList("cft_LC", null, htmlAttributes: new { @class = "form-control", name = "cft_LC" })
                        }
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom:8px">
                <div class="col-sm-4">
                    <div class="input-group" data-provide="datepicker">
                        <div class="input-group-addon">Usable As of:</div>
                        <input class="datepicker form-control" id="cft_eff_st_dt" name="cft_eff_st_dt" value="@Model.str_cft_eff_st_dt" style="max-width: 100%; width:100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                        @Html.ValidationMessageFor(model => model.cft_eff_st_dt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="input-group" data-provide="datepicker">
                        <div class="input-group-addon">Usable Until:</div>
                        @*@{
                              var endEffDate = "";
                              if (Model.cft_eff_end_dt < Convert.ToDateTime("12/31/2060")) { endEffDate = Model.cft_eff_end_dt.ToString("MMM dd, yyyy"); }
                            }*@
                        <input class="datepicker form-control" id="cft_eff_end_dt" name="cft_eff_end_dt" value="@Model.str_cft_eff_end_dt" style="max-width: 100%; width:100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                        @Html.ValidationMessageFor(model => model.cft_eff_end_dt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="input-group">
                        <div class="input-group-addon">Form Number:</div>
                        <input type="text" id="cft_Nbr" name="cft_Nbr" readonly class="form-control" value="@form_num" style="max-width: 60%; width:60%" />
                        @*@Html.EditorFor(model => model.cft_Nbr, new { htmlAttributes = new { @class = "form-control", style = "max-width: 60%; width:60%", @readonly="readonly"} })*@
                        <div class="input-group-addon @attentionCalss">Version:</div>
                        <input type="text" id="cft_Version" name="cft_Version" readonly class="form-control @attentionCalss" value="@form_version" style="max-width: 60%; width:60%" />
                        @*@Html.EditorFor(model => model.cft_Version, new { htmlAttributes = new { @class = "form-control", style = "max-width: 60%; width:60%", @readonly = "readonly" } })*@
                    </div>
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>  @*- - - - END of panel-heading Section - - - - -*@

        @* - - - - - - - - - - - - - - <<<<< START OF FORM BODY >>>>> - - - - - - - - - - - - - *@
        <div class="panel-body content" id="dragDropSection" style="margin-bottom:4px;">
            <div class="row" style="margin-bottom:0px;">
                @*/---------------- Below is the MAIN FORM QUESTION DETAIL DISPLAY PANEL ----------------------\*@
                <div class="col-md-7 personal-info">
                    <div class="row" id="qFormList" style="max-width:100%; height:550px; overflow-y:scroll; margin-left:0px; ">
                        <div class="panel-group" id="accordion" style="width:98%">
                            @foreach (OBSMVC.Controllers.CollectionFormSection obsFormSection in Model.colFormSections)
                            {
                                Html.RenderAction("addNewSection", new { sCounter = obsFormSection.sectionNumber, colFormSection = obsFormSection });
                            }
                            @*//Inside the Acordion Panel we place all the sections that will be added to the Form
                                /----------------------------------------------------\
                                |                                                    |
                                |             FORM SECTIONS GO HERE                  |
                                |             POPULATED BY AJAX CALL                 |
                                |  @Url.Action("addNewSection", "ColFormTemplate")   |
                                |    params: sCounter, (opt. ModelSections)          |
                                \----------------------------------------------------/*@
                        </div> @* - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - -*@

                        @* - - - - - - - - - - FORM FOOTER SECTION (ALWAYS VISIBLE) - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                        @*<div class="panel-group" id="accordion">

                                <div class="panel panel-default formSection" id="FOOTER_SECTION">
                                    <div class="panel-heading form-inline" style="background-color:lightblue">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" href="#footerSection">
                                                <span class="glyphicon glyphicon-minus">&nbsp; </span>
                                                <span>Footer Section:</span>
                                            </a>
                                            &nbsp;&nbsp;
                                            <input type="text" id="FORM FOOTER" class="form-control input-sm sectionTitle" style="width:50%" placeholder="<Enter Section Name>" value="Thank you for your participation and cooperation"  />
                                        </h4>
                                    </div>
                                    <div id="footerSection" class="panel-collapse collapse in" style="margin-left:20px" >
                                        <div class="footer_right row">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style ="width:75%">Employee Signature: _______________________________________</td>
                                                    <td style="width:25%">Date: _______________</td>
                                                </tr>
                                                <tr>
                                                    <td>Observer Signature: _______________________________________</td>
                                                    <td>Date: _______________</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>*@

                        @* - - - - - - - END OF THE PAPER FORM FOOTER SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                        <br /><br /><br /><br />
                    </div>
                    <div class="row" style="margin-top:0px">
                        <div class="col-sm-10 ">
                            @*When This button is clicked, add a new view to the "accordion" <DIV> section*@
                            <input type="button" id="btnAddSection" class="btn obsStd"  value="Add New Section" />
                        </div>
                    </div>
                </div>  @*End of Left Form Questions Pannel (7 column Pannel)*@

                @*// -------------- Below is the Panel with the Question's Library ---------------- *@
                <div class="col-md-5 personal-info">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row" style="text-align:center; font-size:large">
                                QUESTION LIBRARY
                            </div>
                            <div class="row">
                                <div class="col-sm-10" style="padding-left:3px">
                                    <div class="input-group">
                                        <input type="text" class="form-control searchBox" id="full_text_search" name="full_text_search" placeholder="Search Question Library for..." style="max-width: 100%; width:100%;" title="Hint: Use Double Quotes to search for literal text!">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" id="doSearch" data-loading-text="Please Wait...">Search!</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2 right" style="padding:0px">
                                    <button type="button" class="btn btn-primary btn-sm obsBtn" id="btnAddQuestionPopup" >
                                        <span class="glyphicon glyphicon-plus-sign"></span> Add New
                                    </button>
                                    @*<a href="/Question/QuestionAddUpdate/0" class="btn btn-primary btn-sm newBtn" style="padding:2px">
                                            <span class="glyphicon glyphicon-plus-sign"></span> Add New
                                        </a>*@
                                </div>
                            </div>
                            @*@Ajax.ActionLink("Search", "getQuestions", new { full_text_search = "", metadata_search = "" }, new AjaxOptions{
                                        HttpMethod = "GET",
                                        UpdateTargetId = "resultPanel",
                                        InsertionMode = InsertionMode.Replace,
                                        LoadingElementId = "divLoading"
                                })*@
                        </div>

                        @* -------- <Body Section> This section is Used to Render all the Question Library list Results ---------------- *@
                        <div class="panel-body" style="margin:0px auto">
                            <div id="dummyResults" class="left" style="max-width: 100%; width:100%; display:none">
                                <ul class="list-group sourceList" id="libraryQuestions">
                                    <li id="7" class="list-group-item" data-toggle="tooltip" title="Drag to the left to Add!" data-qid="7"><span class="badge" style="width:48px">Id: 007</span>This is dummy Question 1</li>
                                    <li id="127" class="list-group-item" data-toggle="tooltip" title="Drag to the left to Add!" data-qid="127"><span class="badge" style="width:48px">Id: 127</span>Some other Question too</li>
                                    <li id="16" class="list-group-item" data-toggle="tooltip" title="Drag to the left to Add!" data-qid="16"><span class="badge" style="width:48px">Id: 016</span>last question</li>
                                </ul>
                            </div>

                            <div id="resultPanel" class="left" style="max-width: 100%; width:100%; height:440px; overflow-y:scroll; margin:0 auto">

                                @* ****************************************************************************************************
                                        Results from Ajax Call to Display Question Search Result List will be displayed here!!
                                    ****************************************************************************************************@
                            </div>


                            <div id="divLoading" style="display:none">
                                @*<img src="@Url.Content("~/Images/LoadingData.gif")" alt="" />*@
                                <img src="~/Images/LoadingData.gif" />
                            </div>
                        </div>

                        @* ---------<Body Section> End of section Used to Render all the Question LIbrary list Results ---------------- *@
                    </div> @*------------- End of Question Library Panel ---------------*@
                </div>
            </div>
        </div>@*---- END OF FORM BODY -------*@

        @*\\ - - - - - - - - - - - - - <<<<< END OF FORM BODY >>>>> - - - - - - - - - - - - //*@

        @*// - - - - - - - - - - - - - <<<<< FORM FOOTER >>>>> - - - - - - - - - - - - \\*@
        <div class="row" style="margin: 0px 20px 10px 20px">
            <div class="col-sm-4 col-sm-offset-3" >
                <div class="col-sm-6" style="text-align:center">
                    <input id="btnSaveForm" type="button" class="btn btn-primary obsBtn" value="Save Form" style="min-width:120px; min-height:34px" @*disabled="disabled"*@ />
                </div>
                <div class="col-sm-6" style="text-align:center">
                    <input id="btnPublishForm" type="button" class="btn btn-primary obsBtn" value="Publish Form" style="min-width:120px; min-height:34px" @if (@Model.cft_isPublished == "PUBLISHED") { <text> disabled="disabled" readonly</text>   } />
                </div>
            </div>

            <div class="col-sm-3 col-sm-offset-2">
                <div class="col-sm-6" style="text-align:center">
                    <button type="button" class="btn btn-warning obsBtn" id="btnReset" style="min-width:130px" @cancelEnabled>Reset Form</button>
                </div>
                <div class="col-sm-6" style="text-align:center">
                    <button type="button" class="btn btn-warning obsBtn" id="btnCancel" style="min-width:120px">Cancel/Back to List</button>
                </div>
            </div>
        </div>
        <input type="hidden" id="isPublished" name="isPublished" value="false">
        <input type="hidden" id="previous_vers_cft_id" name="previous_vers_cft_id" value="@Model.previous_vers_cft_id">
        @*\\ - - - - - - - - - - - - - <<<<< END OF FORM FOOTER SECTION >>>>> - - - - - - - - - - - - //*@

    </div> @* ----- END OF FORM PANEL*@
</form>
@* - - - - - - - - - - - - - - - - END OF "CREATE COLLECTION FORM" FORM - - - - - - - - - - - - - *@

<div>
    @Html.ActionLink("Back to List", "Index")
    <br />
</div>

<input type="hidden" id="DatesConfirmed" value="" />
<div id="dialog-confirm-reset" title="Please Confirm" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        Your form has been modified.<br /> Are you sure you want to reset all changes?
    </p>
</div>
<div id="dialog-confirm-exit" title="Please Confirm" style="display:none">
    <p>
        <br />
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        Your form has been modified.<br /> Exit and discard all changes?
    </p>
</div>
@* ------------------------ END OF "Add New Metadata Tag" FORM ------------------------- *@


<div id="remoteWindow">
</div>

@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
@* ------------------------------------- MODAL "QUESTION MAINTENANCE LIGHT" FORM WINDOW ------------------------------------------ *@
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
<!-- Modal -->
<div class="modal  modal-wide fade" id="editQATWindow" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">ADD NEW ANSWER TYPE</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="windowType" value="MODAL" />
                <input type="hidden" id="popupStatus" value="" />
                <input type="hidden" id="popupFormChanged" value="N" />
                <input type="hidden" id="popupQID" value="" />
                <input type="hidden" id="popupDDLid" value="" />
                <input type="hidden" id="savedQATid" value="" />
                <div class="row">
                    <div class="input-group" style="margin-left:25px">
                        <div class="input-group-addon" style="max-width:100%; border:1px solid gray; margin:0px">
                            <span style="font-weight:bold; font-size:larger; max-width:100%; width:100%;">Question Full Text: </span>
                        </div>
                        @*<input type="text" id="selQText" class="form-control" style="font-weight:bold; font-size:larger; margin-left:10px; max-width: 90%; width:80%;" />*@
                        <span style="font-weight:bold; font-size:x-large; margin-left:0px;  padding:2px; border:1px solid gray; padding:3px 10px; min-width:100%" id="selQText"> </span>
                    </div>
                </div>
                <br />
                <div class="row" id="divNewSA" style="max-width:100%; width:100%;">
                    @*-------------------------------------------------------------------------------------------
                                       Placeholder for ADD MODE for new Questions Answer Types
                             Populated before modal window is opened based on the selection within the main form
                        --------------------------------------------------------------------------------------------*@
                    @*@Html.Action("addQuestionAnswerInfo", "Question")*@
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-1 col-sm-offset-3">
                    <button type="button" class="btn btn-primary" id="btnSaveNewSelAnswer" disabled="disabled">Save changes</button>
                </div>
                <div class="col-sm-1 col-sm-offset-1">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*------------------------------ END OF POP UP FOR QUESTION MAINTENANCE --------------------------*@


@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
@* ------------------------------------- POP UP "ADD QUESTION TO LIBRARY" FORM --------------------------------------------------- *@
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
<!-- Modal -->
<div class="modal  modal-alert fade" id="addQuestionWindow" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">ADD QUESTION TO QUESTION LIBRARY</h3>
            </div>
            <div class="modal-body" style="margin-left:25px">
                <br /><br />

                <div class="row" style="margin-bottom:15px">
                    <div class="input-group">
                        <div class="input-group-addon stdAddonWidth">
                            Question Full Text:
                        </div>
                        <textarea id="modalQFullText" class="form-control qInput" cols="400" rows="3" style="max-width: 100%; width:95% " placeholder="Enter The Question Full Text" required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <div class="input-group-addon stdAddonWidth">
                            Question Description:
                        </div>
                        <input type="text" id="modalQDesc" class="form-control qInput" placeholder="Enter Question Description" style="max-width: 100%; width:95%;" />
                    </div>
                </div>
                <br />
                <div id="msgAddQ" class="alert alert-danger" style="font-weight:bold; display:none">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    The Question Text is required.<br />Please review your input.

                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="col-sm-12" style="text-align:center">
                    <button type="button" id="btnSaveLibQuestion" class="btn btn-primary" disabled="disabled">ADD QUESTION</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnCancelLibQuestion" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
@* --------------------------------------- POP UP "CONFIRM PUBLISH DATES" FORM --------------------------------------------------- *@
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
<!-- Modal -->
<div class="modal  modal-alert fade" id="confPubDates" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">CONFIRM THE LIVE DATES FOR THIS FORM</h3>
            </div>
            <div class="modal-body" style="margin-left:25px">
                <br /><br />
                <div class="form-group row" style="margin-bottom:8px">
                    <div class="col-sm-6" style="text-align:center; max-width:100%">
                        <div class="input-group" data-provide="datepicker">
                            <div class="input-group-addon">Usable As of:</div>
                            <input class="datepicker datepickerPopup form-control" id="conf_cft_eff_st_dt" style="max-width: 100%; width:100%;">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="text-align:center; max-width:100%">
                        <div class="input-group" data-provide="datepicker">
                            <div class="input-group-addon">Usable Until:</div>
                            <input class="datepicker datepickerPopup form-control" id="conf_cft_eff_end_dt" style="max-width: 100%; width:100%;">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" style="text-align:center">
                    <span style="font-size:medium; font-style:italic; text-align:center"> <strong>NOTES:</strong> <br />* Choosing Today's Date for "Usable as of" will make the form 'live' immediately after confirmation.</span>
                </div>
                <div class="row" style="text-align:center">
                    <span style="font-size:medium; font-style:italic; text-align:center">  ** A blank "Usable Until" Date implies no Expiration</span>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="col-sm-5 col-sm-offset-1" style="text-align:center">
                        <button type="button" id="btnSaveDateConf" class="btn btn-primary">Confirm Dates</button>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1" style="text-align:center">
                        <button type="button" id="btnCancelDateConf" class="btn btn-default" data-dismiss="modal" style="min-width:120px">Cancel</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
@* --------------------------------------- POP UP "GENERIC CONFIRMATION" FORM --------------------------------------------------- *@
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
<!-- Modal -->
<div class="modal  modal-alert fade" id="confPopUp" role="dialog">
    <input type="hidden" id="funcToExec" value="" />
    <input type="hidden" id="confirmationResult" value="" />
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="confTitle"></h3>
            </div>
            <div class="modal-body" style="margin-left:25px">
                <br /><br />
                <div class="row" id="divConfText" style="margin-bottom:15px; font-size:x-large">
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="col-sm-5 col-sm-offset-1" style="text-align:center">
                        <button type="button" id="btnAlertConfirm" class="btn btn-primary" value=""></button>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1" style="text-align:center">
                        <button type="button" id="btnAlertCancel" class="btn btn-default" data-dismiss="modal" style="min-width:120px">Cancel</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
@* --------------------------------------- POP UP "GENERIC ALERT" WINDOW --------------------------------------------------------- *@
@* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
<!-- Modal -->
<div class="modal  modal-alert fade" id="alertPopup" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="alertTitle"></h3>
            </div>
            <div class="modal-body" style="margin-left:25px">
                <br /><br />
                <div class="row" id="divAlertText" style="margin-bottom:15px; font-size:x-large">
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="col-sm-12" style="text-align:center">
                    <button type="button" id="btnAlertOK" class="btn btn-default" data-dismiss="modal" style="min-width:120px">OK</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*-------------------------------------------------------------------------------------------------------------------------------*@


@* ######################  J A V A    S C R I P T S    S E C T I O N   #################################### *@


@* - - - - - - - SCRIPT TO ADD A NEW SECTION TO THE FORM AND SET THE "FORM CHANGED" STATUS when form is modified- - - - - - - - - - *@

<script type="text/jscript">
    $(document).ready(function(){
        // Variables and a Function Used to Scroll Down the sections/question panel (Can be Invoked later on from any section inside this script)
        function scroll(height) {
            this.stop().animate({ scrollTop: height }, 1000);
        }
        // ----- End of Variables and a Function Used to Scroll Down the sections/question panel -------

        function addNewSection() {
            $('#sCounter').val(Number($('#sCounter').val()) + 1);
            // ------------ Make the Ajax Call ---------------------------------------------
            $.ajax({
                url: '@Url.Action("addNewSection", "ColFormTemplate")',
                method: "GET",
                cache: false,
                data: { sCounter: $('#sCounter').val() },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //--- On error, execute this function ------
                error: function (jqXHR, textStatus, errorThrown) {
                    obsAlert("An Error has Occurred. Unable to Add New Sections to Form!!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
                    $('#btnAddSection').button('reset');
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully
                $("#accordion").append(d);
                makeSectionsDropable();
                // Reenable the "form change" validation on the newly created section
                $('input').change(function () {
                    $("#formChanged").val("Y");
                    //isChanged = true;
                    $("#btnSaveForm").removeAttr('disabled');
                    $('#btnSaveForm').button('reset');
                    $(this).removeClass("invalidField");
                });
            });

        } // ------ End of addNewSection() function -----
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        function makeSectionsDropable() {
            var executeCounter = 0;  //(Used by the Question Delete/Remove Button)

            $(".targetList").droppable({
                addClasses: false,
                activeClass: "listActive",
                hoverClass: "list-drag-hover",
                accept: ":not(.ui-sortable-helper)",
                //accept: function(d) {
                //    //if(d.hasClass("foo")||(d.attr("id")=="bar")){
                //    //    return true;
                //    //}
                //},
                drop: function (event, ui) {
                    //This function is executed everytime an item is dragged and dropped (After drop)
                    $(this).find(".placeholder").remove();

                    var link = $("<a href='#' class='dismiss' >&nbsp;&times;&nbsp;</a>");
                    var qid = ui.draggable.attr("id");
                    //var listId = "liID" + qid;

                    //var list = $("<li></li>").text(ui.draggable.text());
                    //var list = $("<li id=\"li" + qid + "\" class=\"newliItem\"></li>").text("Question Id is: " + qid); //    .setAttribute('class', 'newliItem');
                    var list = $("<li id=\"li" + qid + "\" class=\"newliItem question\"></li>").text(""); //    .setAttribute('class', 'newliItem');

                    //list.setAttribute('class', 'newliItem');
                    //alert($(list).attr("id"));   //It works, the Id is "li99" (99=qid)
                    $(list).append(link);


                    //---- Now create a DIV section with a loading placeholder and attach it to the list -----
                    var loadingDIV = document.createElement('div');
                    loadingDIV.setAttribute("id", "qLoadingDiv");
                    loadingDIV.setAttribute("style", "text-align:center");
                    loadingDIV.innerHTML = '<br />Loading... <br/><img src="/Images/ui-anim_basic_16x16.gif" /><br\><br\>';
                    $(list).append(loadingDIV);
                    //-- Done attaching DIV Loading placeholder which will be removed after the ajax call is complete---

                    // Add the new List Item to the Target Questions List (Add "LI" to "OL")
                    $(list).appendTo(this);

                    //updateValues(ui.draggable.text().substring(3, 5));

                    //Added second parameter to keep original state of the selected QAT in the dropdown
                    getQinfo(qid, 0);

                    $("#formChanged").val("Y");
                    $("#btnReset").removeAttr('disabled');
                    //Remove the Section Delete Button. When Question is added, It is no longer empty
                    $(this).parents(".formSection").find("#btnDelSection").hide();
                    //$('.ui-draggable-dragging').hide();  // To not show the "Revert" effect when dropped successfully (Not needed if draggable revert="invalid"

                    //Scroll the Panel to the botton
                    // Check if we added a question to the last section. If so, scroll the panel to the button
                    //panel id = qFormList
                    //alert("Id: " + $(this).attr("id") + " Was selected.")  //The olListxx Id were the question was dropped
                    //alert("This is panel " + $(this).attr("id").substring(6) + " out of " + $("#qFormList").find(".targetList").length);


                    //Finally id dropped on the last section, Scroll the panel to the botton so the newly added question is always visible
                    if ( $(this).attr("id").substring(6) == $("#qFormList").find(".targetList").length){
                        //alert("Question Dropped on the last Section!")
                        var scrollPanel = $('#qFormList');
                        //Automatically Scroll to the botton of the Panel where the new Section was Inserted
                        //If we wanted to scroll to the top, we would set the "height = 0"
                        height = scrollPanel[0].scrollHeight;
                        scroll.call(scrollPanel, height);
                    }
                }
            }).sortable({
                connectWith: ".connected",
                items: "li:not(.placeholder)",
                //start: function (event, ui) {
                //    // modify ui.placeholder Text however you like
                //    ui.placeholder.html("I'm modifying the placeholder element!");
                //},
                //stop: function (event, ui) {
                //    var item = $(ui.item);
                //    alert($(this).attr("id"));
                //    var to = item.parent().is("#droppable_widget");
                //    var siblingsCount = item.siblings().size();
                //    if (to && siblingsCount > 0) {
                //        alert("only one item allowed here");
                //        return false;
                //    }
                //},
                placeholder: {
                    element: function(currentItem) {
                        return $('<li><div style="background-color:#deecff; text-align:center""><br/><br/>DROP ITEM HERE<br/><br/></div></li>')[0];
                    },
                    update: function(container, p) {
                        return;
                    }
                },
                sort: function () {
                    $(this).removeClass("listActive");
                },
                //beforeStop: function(ev, ui) {
                //    if ($(ui.item).hasClass('innerListItem') ) {
                //        $(this).sortable('cancel');
                //    }
                //},
                receive: function(event, ui) {
                    // This function executes when an item is received at the target list during "sort"
                    //alert("[" + this.id + "] received data from [" + ui.sender.attr("id") + "]");
                    $(this).parents(".formSection").first().find(".btnDelSection").hide();
                },
                update: function () {
                    //This function is executed every time an item is sorted complete (After sort)
                    var qid2 = $(this).qid;
                    $(this).find(".placeholder").remove();
                    $("#formChanged").val("Y");
                    $("#btnCancel").removeAttr('disabled');
                    if ($(this).find(".question").length < 1){
                        //There are no questions Left on the Source section
                        $(this).parents(".formSection").first().find(".btnDelSection").show();

                        //alert("No questions left on id: " + $(this).prop("id"));
                    }
                }
            }).on("click", ".dismiss", function (event) {
                //Somehow, this function is executing twice when even is triggered.
                executeCounter = executeCounter + 1;
                event.preventDefault();
                if (executeCounter == 1){   //Perform the action only when the "executeCounter" is 1. To prevent doing everything more than once
                    //var qdelId = $(this).parent().attr("id");

                    // Count the questions in the containing section.
                    //If the section has only one question (The current Question Being removed) then display the "Section Delete Button"
                    //and show the "Drag a question Here" Template.  Otherwise, just hide the delete button.
                    var $parentFrmSection = $(this).parents(".formSection").first();
                    var $sectDelBtn = $parentFrmSection.find("#btnDelSection");
                    var qInSection = $parentFrmSection.find(".question").length;
                    //
                    if (qInSection == 1 ){
                        $sectDelBtn.show();
                        // Add code to display the "Drag a question Here" Template if it doesn't already exist.
                        if ($parentFrmSection.find(".placeholder").length == 0){
                            var placeholderNew = $("<li class=\"list-group-item placeholder\"></li>").append('<div style="font-weight:bold; font-size:large"><br />Drag a question here...<br /><br /></div>');
                            $(placeholderNew).appendTo( $parentFrmSection.find(".targetList").first() );
                        }
                    }
                    else{
                        $sectDelBtn.hide();
                    }
                    $(this).parent().remove();

                    //alert("Parent Id is: " + $parentFrmSection.prop("id") + " and it has " + qInSection + " questions." );
                    //alert("There are [" + itemsInParent + "(" + testCounter + ")" + "] Questions Left on This section!");
                }
                else{
                    executeCounter =0;  //Reset the counter to Zero so this function can be executed when the event is called again by the user
                }

            });
        }
        //-----------------------------------------------------------------------------------------------
        function getQinfo(questionId, questionQATid) {
            var newCounterSeq = $("#qCounter").val();
            //var newCounterSeq = 1;
            var qid = questionId
            var ajaxResult = "Sample Data";
            //var target = ev.target || ev.srcElement;
            //var myId = $(event.target).attr("id");;

            //alert("Retrieving Information via Ajax for Question Id: " + qid);
            // ------------ Make the Ajax Call ---------------------------------------------
            $.ajax({
                url: '@Url.Action("getQuestionInfo", "ColFormTemplate")',
                method: "GET",
                cache: false,
                data: { question_id: qid, question_QATid: questionQATid, qCounter: newCounterSeq },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //beforeSend: function( xhr ) {
                //    //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
                //    alert("Ready to Submit Ajax call" );
                //},


                //--- On error, execute this function ------
                error: function (jqXHR, textStatus, errorThrown) {
                    obsAlert("Can't find data for question id " + qid + " !!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
                    //$btn.button('reset');
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully

                //Put the retrieved source code inside a <DIV> tag
                //Add the Division tag to the newly created "Li"
                var newDIV = document.createElement('div');
                newDIV.innerHTML = d;  // (If we want to just add some inner html text)
                //newDIV.appendChild(d);   // (If we want to add a child element)

                //Remove the DIV that has the "Loading Placeholder" of the new List Question entry
                $('.newliItem').find("#qLoadingDiv").first().remove();
                //Add the new DIV with the rendered partial view
                var liCreated = $('.newliItem').append(newDIV);

                //Once the New List Item has been completed remove its "newli" atribbute
                liCreated.removeClass("newliItem");
                //$('#ajaxSample').html(d)

                $('#qCounter').val(Number($('#qCounter').val()) + 1);
                //ajaxResult = d;
                //alert("Ajax call completed. result: " + d);
                //return ajaxResult;
                //alert("You jusr added question View Id: " + "qRow" + newCounterSeq)
                //ev.target.html(d);
                //$("#questionPnl01").append(d);
                //$btn.button('reset');
                //return d;
            });
        }
        //-----------------------------------------------------------------------------------------------

        //-----------------------------------------------------------------------------------------------


        //-----------------------------------------------------------------------------------------------


        //-----------------------------------------------------------------------------------------------

        //-----------------------------------------------------------------------------------------------

        //-----------------------------------------------------------------------------------------------
        //===================================== CONTROL EVENTS ===========================================
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        $('#doSearch').click(function () {
            var $btn = $(this);
            $btn.button('loading');
            var waitMsg = '<div style="text-align:center; font-weight:bold"><br /><br />Please wait while we retrieve the questions...<br /><br /><img src="../../Images/ui-anim_basic_16x16.gif" /></div>'

            $("#resultPanel").html(waitMsg);

            // ---- Fetch the Values that wil be used as parameters on the AJAX call -------
            var searchText = $("#full_text_search").val();
            //var searchMD = $("#metadata_search").val();
            // ------------ Make the Ajax Call ---------------------------------------------
            $.ajax({
                url: '@Url.Action("getQuestionsList", "ColFormTemplate")',
                method: "GET",
                cache: false,
                //data: { full_text_search: searchText, metadata_search: searchMD, page: 1, pageSize: 30 },     //<---- Data Parameters (if not already passed in the Url)
                data: { full_text_search: searchText, page: 1, pageSize: 30 },   //<---- Data Parameters (if not already passed in the Url)
                //                                                               // parameters can be passed in url as an extra param:  new { full_text_search = searchText, metadata_search = searchMD }
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //--- On error, execute this function ------
                error: function (jqXHR, textStatus, errorThrown) {
                    obsAlert("Failed to render the Question List from the Database !!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
                    $btn.button('reset');
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully
                $("#resultPanel").html(d);
                //$("#dummyResults ul").append('<li id="qId017" class="list-group-item" data-toggle="tooltip" title="Drag inside form to Add!"><span class="badge" style="width:48px">Id: 017</span>last question New</li>');

                //Make the New Source List Dragable
                $(".sourceList li").draggable({
                    //If you want to limit the area inside which a user can drag elements,
                    // Simply set the "appendTo" attribute to  "#myContainerName" or similar.
                    addClasses: false,
                    appendTo: "body",
                    helper: "clone",
                    revert: "invalid",
                    containment: "#dragDropSection", scroll: false
                });

                //Make the Target List Dropable and force it to accept newly created source List
                makeSectionsDropable();
                $btn.button('reset');
            });
        }); // ---- End of "doSearch" Function
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        $("#btnReset").click(function () {
            if ( $("#formChanged").val() == "Y")
            {
                //if ( $("#bootstrapBtnReset").val() == "N"){
                //    $.fn.bootstrapBtn = $.fn.button.noConflict();  // To restore the "X" close button of the alert window
                //    $("#bootstrapBtnReset").val("Y");
                //}

                $( "#dialog-confirm-reset" ).dialog({
                    resizable: false,
                    height:200,
                    width: 350,
                    modal: true,
                    buttons: {
                        "Reset Form": function() {
                            $("#formChanged").val("N");
                            //isChanged.val("N");
                            location.href = "/ColFormTemplate/AddEditForm/" + @Model.cft_id;  //cft_id
                        },
                        "Don't Reset!": function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });
            }
        });
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        $("#accordion").on('click', '.btnDelSection', function(){
            var sectionsLeft = $("#accordion").find(".formSection").length;

            $(this).parents(".formSection").first().remove();
            if (sectionsLeft == 1){ //The one section we are removing
                addNewSection();
            }
        });
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        $('#btnAddSection').click(function () {
            var scrollPanel = $('#qFormList');
            var $btn = $(this);
            $btn.button('loading');
            addNewSection();
            $btn.button('reset');
            //Automatically Scroll to the botton of the Panel where the new Section was Inserted
            //If we wanted to scroll to the top, we would set the "height = 0"
            height = scrollPanel[0].scrollHeight;
            scroll.call(scrollPanel, height);
            //$('#qFormList').scrollTop($('#qFormList').scrollHeight);
        })
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        $("#btnSaveLibQuestion").click(function () {
            if ($("#modalQFullText").val().trim() == "") {
                $("#msgAddQ").show();
                $("#btnSaveLibQuestion").prop("disabled", true);
                //alert("The Question Text is required.\nPlease review your input.");
            }
            else {
                $.ajax({
                    url: '@Url.Action("addNewQuestion", "ColFormTemplate")',
                    method: "POST",
                    cache: false,
                    data: { full_text: $("#modalQFullText").val(), desc: $("#modalQDesc").val() },
                    error: function (jqXHR, textStatus, errorThrown) {
                        obsAlert("An error occurred when saving the question information to the LIbrary Database!!\nError:" + textStatus + "," + errorThrown);  //<-- Trap and alert of any errors if they occurred
                    }
                }).done(function (d) {
                    if (d == "True") {
                        var searchText = '"' + $("#modalQFullText").val() + '"';
                        $("#modalQFullText").val("");
                        $("#modalQDesc").val("");
                        //alert("Data Posted Successfully!");

                        // Close the popup
                        //$("#addQuestionWindow").dialog( "close" );
                        $("#btnCancelLibQuestion").click();
                        // Perform ajax to "search" the recently saved question
                        $("#full_text_search").val(searchText);
                        $('#doSearch').click();
                        $("#full_text_search").val("");
                    }
                    else {
                        obsAlert("ERROR Saving Data: " + d);
                    }
                });
            }
        }); //--------- End of btnSaveLibQuestion click() event
        ////- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        ////Finally make sure the Section Title are autocomplete
        //$(".sectionTitle").autocomplete({
        //    source: "/ColFormTemplate/SectionNameLookup",
        //    minLength: 1,
        //    select: function( event, ui ) {
        //        //Perform 'error reset' steps after a valid selection is done from the autocomplete list
        //        $('#btnSaveForm').button('reset');
        //        $(this).css({
        //            "color": "black",
        //            "background-color": "white"
        //        });
        //    }
        //});

        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -




        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -






        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        // ------------------ STARTUP ACTION TO PERFORM WHEN THE FORM FIRST LOADS ---------------------
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        //Perform an automatic "Question Search"  to load all library question as a default action
        $('#doSearch').click();
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        //If there are no Sections Defined on the current Form (Or it's a new Form), create a new empty section by Default
        if(  $("#accordion").find(".formSection").length == 0) {
            addNewSection();
            $("#formChanged").val("N");   // To prevent the alert of leaving the page from showing-up after a section was added on first load
        }
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        //Enable all section (Even those dynamically created) to be Dragable/Dropable
        makeSectionsDropable();
        //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


    });  // END Of document Ready Startup Scripts


</script>