@*@model OBSMVC.Models.OBS_COLLECT_FORM_TMPLT*@
@{ ViewBag.Title = "Create/Edit Form"; }


@*===========================================  STYLES, SCRIPTS AND ANOTATIONS =====================================================*@



@*=====================================================  MAIN VIEW PAGE ===========================================================*@

<div class="well well-sm nopadding"><h3 class="col-md-offset-1">Collection Form Creation</h3></div>
    <div class="row">
        <div class="alert alert-danger col-sm-12">
            <strong>Warning!</strong> @ViewData["errMsg"]
        </div>
    </div>
@* - - - - - - - - - - - - - - - - BEGINING OF THE "CREATE COLLECTION FORM" FORM - - - - - - - - - - - - - *@

<form class="form-horizontal" role="form" method="post" >
    @Html.AntiForgeryToken()
    <div class="panel panel-default">

        <div class="panel-heading header">
            @*<div class="form-group row">
                <div class="col-sm-7">
                    <label for="obs_cft_title" class="col-sm-2 form-control-label">FORM TITLE:</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.obs_cft_title, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%; width:100%; color:cadetblue; font-size:large; font-weight:bold" } })
                        @Html.ValidationMessageFor(model => model.obs_cft_title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-5">
                    <label for="obs_cft_title" class="col-sm-2 form-control-label" style="text-align:right">Subtitle:</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.obs_cft_subtitle, new { htmlAttributes = new { @class = "form-control", style = "max-width: 100%; width:100%; color:cadetblue; font-size:large; font-weight:bold" } })
                    </div>
                </div>
            </div>*@

        </div>
        Enter Something:
        <input type="text" id="nametest" />
        <div class="row">
           <div class="col-md-offset-2 col-md-10">
               <input id="btnSaveForm" type="submit" value="Save Form" @*disabled="disabled"*@ />
           </div>
        </div>
    </div>
</form>
@* - - - - - - - - - - - - - - - - END OF "CREATE COLLECTION FORM" FORM - - - - - - - - - - - - - *@
