@model OBSMVC.Models.OBS_COLLECT_FORM_TMPLT
@{ ViewBag.Title = "Create"; }

<div class="well well-sm wellDSC"><h3>Collection Form Creation</h3></div>

@*====================== BEGINING OF THE "CREATE COLLECTION FORM" FORM =========================*@
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
   <div class="panel panel-default">
   @*---------------------- FORM HEADER ------------------------- *@
        <div class="panel-heading header">
            <table style="width:100%">
                <tr>
                    <td style="width:10%">
                        <b> FORM TITLE: </b>
                    </td>
                    <td >
                        <span style="color:cadetblue; font-size:x-large; font-weight:bold">
                            @Html.EditorFor(model => model.obs_cft_title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.obs_cft_title, "", new { @class = "text-danger" })
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:10%">
                        <b> Subtitle: </b>
                    </td>
                    <td >
                        <span style="color:cadetblue; font-size:x-large; font-weight:bold">
                            @Html.EditorFor(model => model.obs_cft_subtitle, new { htmlAttributes = new { @class = "form-control" } })
                        </span>
                    </td>
                </tr>
            </table>
            <table style="width:100%">
               <tr>
                  <td style="text-align:center">
                      Observation Type:
                  </td>
                  <td>
                      @Html.DropDownList("obs_type_id", null, htmlAttributes: new { @class = "form-control" })
                  </td>
                  <td style="text-align:center">
                      Customer:
                  </td>
                  <td>
                      @Html.DropDownList("dsc_cust_id", null, htmlAttributes: new { @class = "form-control" })
                  </td>
                  <td style="text-align:center">
                      Whse Location:
                  </td>
                  <td>
                      @Html.DropDownList("dsc_lc_id", null, htmlAttributes: new { @class = "form-control" })
                  </td>
               </tr>
            </table>
            <table>
               <tr>
                    <td style="width:10%">
                            Effective Date:
                    </td>
                   <td style="width:40%">
                       @Html.EditorFor(model => model.obs_cft_eff_st_dt, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.obs_cft_eff_st_dt, "", new { @class = "text-danger" })
                   </td>
                   <td style="width:10%">
                       Usable Until:
                   </td>
                   <td style="width:40%">
                       @Html.EditorFor(model => model.obs_cft_eff_end_dt, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.obs_cft_eff_end_dt, "", new { @class = "text-danger" })
                   </td>
                </tr>
            </table>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
   @*---------------------- FORM BODY --------------------------- *@
      <div class="panel-body content">
         <div class="row">
           <div class="col-md-7 personal-info">
           @*/---------------- MAIN QUESTION DETAIL DISPLAY PANEL ----------------------\*@


           @*
              *******************************************************************************
                RASUL,
                 you will be working and testing on this section to trigger the AJAX call
                 and to update this section with the partial view !!!!!!!!!!!!!!!!
              ******************************************************************************@

               @*<div class="input-group col-md-6">
                    <input type="text" id="droppedQId" class="form-control" placeholder="Question Id to Add...">
                    <span class="input-group-btn">
                       <button id="displayQID" class="btn btn-primary" type="button">Add Question!</button>
                    </span>
                 </div><!-- /input-group -->
                 <hr />
            *@


               <div id="questionPanel" ondrop="addQid(event)" ondragover="allowDrop(event)">

                   @*<<< THE PARTIAL VIEW QUESTION DETAILS <br/>RETURNED BY AJAX CALL WILL BE PLACED HERE >>>*@
                   <table style="width:100%; text-align:center">
                       <tr style="border:dashed; border-width:medium">
                           <td>
                               --- DROP YOUR QUESTION HERE ---
                           </td>
                       </tr>
                   </table>
               </div>






           @*\--------------- END OF THE MAIN QUESTION DISPLAY PANEL -------------------/*@
           </div>
           <div class="col-md-5 personal-info">
              @*// **************** This is the Panel with the Question's Library ***************** *@
              <div class="panel panel-info">
                 <div class="panel-heading">
                     <table style="width:100%">
                        <tr>
                           <td colspan="2" style="text-align:center; font-size:large"><b>"QUESTION LIBRARY"</b></td>
                        </tr>
                        <tr>
                           <td style="width:30%">
                                Enter Search Text:
                           </td>
                           <td style="width:70%">
                                @Html.TextBox("full_text_search", "", new { @class = "form-control" })
                           </td>
                        </tr>
                        <tr>
                           <td>
                                Metadata Search:
                           </td>
                           <td>
                                @Html.TextBox("metadata_search", "", new { @class = "form-control" })
                           </td>
                        </tr>
                        <tr>
                           <td>
                                <button type="button" id="doSearch" class="btn btn-primary" data-loading-text="Please Wait...">Search Questions</button>
                                @*@Ajax.ActionLink("Search", "getQuestions", new { full_text_search = "", metadata_search = "" }, new AjaxOptions{
                                              HttpMethod = "GET",
                                              UpdateTargetId = "resultPanel",
                                              InsertionMode = InsertionMode.Replace,
                                              LoadingElementId = "divLoading"
                                })*@
                           </td>
                        </tr>
                     </table>
                 </div>
                 <div class="panel-body">
                     @*<div>
                        @Html.Action("getQuestions", new { full_text_search = "", metadata_search = "" })
                     </div>*@
                     <div id="resultPanel">
                         [Results]
                     </div>
                     <div id="divLoading" style="display:none">
                         @*<img src="@Url.Content("~/Images/LoadingData.gif")" alt="" />*@
                         <img src="~/Images/LoadingData.gif" />
                     </div>
                 </div>
              </div> @*------------- End of Question Library Panel ---------------*@
           </div>
         </div>@*---- END OF FORM BODY -------*@
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
           <input id="btnSaveForm" type="submit" value="Save Form" disabled="disabled" />
        </div>
      </div>
   </div>
} 
@*====================== END OF THE "CREATE COLLECTION FORM" FORM =========================*@

 <div>
    @Html.ActionLink("Back to List", "Index")
 </div>


 <br />

@*//======================================== JAVASCRIPT / AJAX SECTION  ===============================================\\*@
<script type="text/jscript">
    $('#doSearch').click(function () {
        var $btn = $(this);
        $btn.button('loading');
        //$(this).button('loading');        
      //e.preventDefault(); // <------------------ stop default behaviour of button (to prevent form submit or other behaviours if neeed)

      //var url = "/ColFormTemplate/getQuestions";
      //$.get(url, { full_text_search: "", metadata_search: "" }, function (data) {
      //    $("#resultPanel").html(data);
      //});

      // ---- Fetch the Values that wil be used as parameters on the AJAX call -------
        var searchText = $("#full_text_search").val();
      var searchMD = $("#metadata_search").val();
      // ------------ Make the Ajax Call ---------------------------------------------
      $.ajax({
        @*url: '@Url.Action("getQuestions", "ColFormTemplate", new { full_text_search = searchText, metadata_search = searchMD })',*@
        url: '@Url.Action("getQuestions", "ColFormTemplate")',
        method: "GET",
        cache: false,
        data: { full_text_search: searchText, metadata_search: searchMD, page: 1, pageSize: 10 },     //<---- Data Parameters (if not already passed in the Url)
        //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
        //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
        //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
        //traditional: true,                                       //<--- In case we wanted to post a JSON data object

          //--- On error, execute this function ------
        error: function () {                                      
            alert("Failed to render the Question List from the Database !!");  //<-- Trap and alert of any errors if they occurred
            $btn.button('reset');
        }
      }).done(function (d) {
          //Execute this code After the Ajax call completes successfully
          $("#resultPanel").html(d);
          $btn.button('reset');
        });
  })
</script>
@*====================================AJAX TO CALL QUESTION DETAILS ACTION====================================*@
<script type="text/jscript">
    $('#displayQID').click(function () {
        var $btn = $(this);
        $btn.button('loading');
  
        //$(this).button('loading');
      //e.preventDefault(); // <------------------ stop default behaviour of button (to prevent form submit or other behaviours if neeed)

      //var url = "/ColFormTemplate/getQuestions";
      //$.get(url, { full_text_search: "", metadata_search: "" }, function (data) {
      //    $("#resultPanel").html(data);
      //});

      // ---- Fetch the Values that wil be used as parameters on the AJAX call -------
        var qid = $("#droppedQId").val();
      
      // ------------ Make the Ajax Call ---------------------------------------------
      $.ajax({
        url: '@Url.Action("getQuestionInfo", "ColFormTemplate")',
        method: "GET",
        cache: false,
        data: { question_id: qid},     //<---- Data Parameters (if not already passed in the Url)
        //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
        //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
        //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
        //traditional: true,                                       //<--- In case we wanted to post a JSON data object

          //--- On error, execute this function ------
        error: function () {
            alert("Can't find data for this question!!");  //<-- Trap and alert of any errors if they occurred
            $btn.button('reset');
        }     
      }).done(function (d) {
          //Execute this code After the Ajax call completes successfully
          
          $("#questionPanel").append(d);
          $btn.button('reset');
        });
    })
</script>

@*<script type="text/javascript">
        $(document).ready(function () {
            BindSpinner();
        });

        function BindSpinner() {
            $("#divLoading").bind("ajaxSend", function () {
                $(this).show();
            }).bind("ajaxStop", function () {
                $(this).hide();
            }).bind("ajaxError", function () {
                $(this).hide();
            });
        };
    </script>*@

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    function addQid(ev) {

        //var qid = 3;
        var data = ev.dataTransfer.getData("text");
        var qid = data;
        // ------------ Make the Ajax Call ---------------------------------------------
        $.ajax({
            url: '@Url.Action("getQuestionInfo", "ColFormTemplate")',
            method: "GET",
            cache: false,
            data: { question_id: qid },     //<---- Data Parameters (if not already passed in the Url)
            //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
            //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
            //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
            //traditional: true,                                       //<--- In case we wanted to post a JSON data object

            //--- On error, execute this function ------
            error: function () {
                alert("Can't find data for this question!!");  //<-- Trap and alert of any errors if they occurred
                //$btn.button('reset');
            }
        }).done(function (d) {
            //Execute this code After the Ajax call completes successfully

            $("#questionPanel").append(d);
            //$btn.button('reset');
        });
    }
</script>