@model IEnumerable<OBSMVC.Controllers.ColFormTemplateController.ObsColFormTemplate>

@{
    ViewBag.Title = "Form Templates";
}

<div class="well well-sm"><h3>Form Templates</h3></div>

<p>
    @using (Html.BeginForm("Index", "ColFormTemplate", FormMethod.Get))
    {
        
            <b>Search by Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>@Html.TextBox("title_search")
            @Html.RadioButton("t_search", "Any")  <text>Any</text>
            @Html.RadioButton("t_search", "All", true)  <text>All</text><br />
            <p> </p>
            <b>Search by Question: </b>@Html.TextBox("question_search") 
            @Html.RadioButton("q_search", "Any")  <text>Any</text>
            @Html.RadioButton("q_search", "All", true) <text> All </text>
            @Html.RadioButton("q_search", "Exact")<text> Exact </text><br/><p> </p>
            <b>Function :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            @Html.DropDownList("fullFuncList", ViewBag.fullFuncList as SelectList, "All")
    <br />
    <input type="submit" value="Search">
    <br />
    }
</p>
<table class="table table-condensed table-hover" border="1">
    <tr style="background-color:gainsboro">
        <th>
            @Html.DisplayNameFor(model => model.OBSformID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBS_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObservationCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCompleteDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.OBSformID)
        </td>
        <td>
            @Html.ActionLink(item.FormTitle, "Details", new { id = item.OBSformID })            
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.FormNumber)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.FormVersion)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.LC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBS_Type)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.isPublished)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QuestionCount)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.ObservationCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCompleteDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OBSformID }) 
        </td>
    </tr>
}

</table>
