@model IEnumerable<OBSMVC.Controllers.ColFormTemplateController.ObsColFormTemplate>

@{
    ViewBag.Title = "Form Templates";
}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/Content/chkboxRadio.css" rel="stylesheet" />

<div class="well well-sm"><h3>Form Templates</h3></div>

@using (Html.BeginForm("Index", "ColFormTemplate", FormMethod.Get))
{
    <div class="form-group row" style="margin-bottom:6px">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        <div class="input-group-addon" style="min-width:156px"><span style="font-weight:bold">Search by Title</span></div>
                        @Html.TextBox("title_search", null, new { @class = "form-control", style = "min-width:100%" })
                    </div>
                </div>
                <div class="col-sm-4">
                    @Html.RadioButton("t_search", "Any")  <text>Any</text>
                    @Html.RadioButton("t_search", "All", true)  <text>All</text><br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group" style="min-width:100%">
                        <div class="input-group-addon" style="min-width:156px"><span style="font-weight:bold">Search by Question</span></div>
                        @Html.TextBox("question_search", null, new { @class = "form-control", style = "min-width:100%" })
                    </div>
                </div>
                <div class="col-sm-4">
                    @Html.RadioButton("q_search", "Any")  <text>Any</text>
                    @Html.RadioButton("q_search", "All", true) <text> All </text>
                    @Html.RadioButton("q_search", "Exact")<text> Exact </text><br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-11 col-sm-offset-1">
                    <input type="submit" value="Search" style="min-width:200px; font-weight:bold">
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="input-group">
                    <div class="input-group-addon"><span style="font-weight:bold">Function</span></div>
                    @Html.DropDownList("fullFuncList", ViewBag.fullFuncList as SelectList, "All", new { @class = "form-control", style="max-width:87%" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" @*style="border:solid; border-width: 1px"*@>
                    <div class="checkbox">
                        <label style="font-size: 1.5em">
                            <input type="checkbox" class="form-control" id="chkLive" name="chkLive">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            Only Live
                        </label>
                    </div>
                </div>
                <div class="col-sm-5" @*style="border:solid; border-width: 1px"*@>
                    <div class="checkbox">
                        <label style="font-size: 1.5em">
                            <input type="checkbox" class="form-control input-sm" id="chkPublished" name="chkPublished">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            Only Published
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-condensed table-hover" border="1">
    <tr style="background-color:gainsboro">
        <th>
            @Html.DisplayNameFor(model => model.OBSformID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBS_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObservationCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCompleteDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.OBSformID)
        </td>
        <td>
            @Html.ActionLink(item.FormTitle, "Details", new { id = item.OBSformID })            
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.FormNumber)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.FormVersion)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.LC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBS_Type)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.isPublished)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.QuestionCount)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.ObservationCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCompleteDate)
        </td>
        <td style="text-align:center">
           @if (item.isActive || item.isPublished)
           {@Html.ActionLink("Manage", "Details", new { id = item.OBSformID }) }
           else
           {@Html.ActionLink("Edit", "CreateForm", new { id = item.OBSformID })}             
        </td>
    </tr>
}
</table>
