@model OBSMVC.Controllers.oCollectionForm

@{ ViewBag.Title = "Create/Edit Form"; }

@*=======================================  STYLES, SCRIPTS AND ANNOTATIONS ===============================================*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<style>
    body > li {
      width: 320px;
      margin: 5px;
      padding: 5px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      list-style-type: none;
      list-style-position: inside;
      border-width: 1px;
      border-style: solid;
      border-color: #ccc !important;
      background-color: #fafafa !important;
      color: #bbb !important;
    }
    .listActive {
      border: 1px solid #ccc;
      background-color: #fcfcfc;
      padding: 0.5em 0 3em 0 !important;
    }
    .dismiss {
      float: right;
      position: relative;
      top: -8px;
      line-height: 20px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none !important;
      color: #468847;
    }
    ul.sourceList, ol.targetList {
      min-height: 50px;
      margin: 0px 20px 10px 0px;
      padding: 2px;
      border-width: 1px;
      border-style: solid;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      list-style-type: none;
      list-style-position: inside;
    }
    ul.sourceList {
      border-color: #f8e0b1;
    }
    ol.targetList {
      border-color: #add38d;
    }
    .sourceList li, .targetList li {
      margin: 3px;
      padding: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .sourceList li {
      border: 1px solid #fbeed5;
      /*background-color: #fcf8e3;
      color: #c09853;*/
      background-color: #fcf8e3;
      color: #696969;
    }
    .targetList li {
      border: 1px solid #468847; /* #d6e9c6    Green*/ 
      /*background-color: #ebf5e6;*/
      /*color: #468847;*/
      /*background-color: ghostwhite;*/
      background-color: whitesmoke;
      /*color: #468847;*/
      color: black;
    }
    .sortable-dragging {
      border-color: #ccc !important;
      background-color: #fafafa !important;
      color: #bbb !important;
    }
    .sortable-placeholder {
      height: 50px;
    }
    .sourceList .sortable-placeholder {
      border: 2px dashed #f8e0b1 !important;
      background-color: #fefcf5 !important;
    }
    .targetList .sortable-placeholder {
      border: 2px dashed #add38d !important;
      background-color: #f6fbf4 !important;
    }
    .invalidField {
        background-color: #A52300;
        color: white;
    }
    .newBtn {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .newBtn:hover  {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .modal-header, .close {
      background-color: #444444;
      color:white !important;
      text-align: center;
      font-size: 30px;
      }
    .modal-footer {
      background-color: #f9f9f9;
    }
    .modal.modal-wide .modal-dialog {
        width: 55%;
    }
    .modal-wide .modal-body {
        overflow-y: auto;
        height: 420px;
    }
    .modal-wide .modal-content  {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        border-width:6px;
        border-style:double;
        border-color: #c6e0ff;
     }
    .modal-NewQ .modal-dialog{
        width: 40%;
    }
    .modal-NewQ .modal-body {
        overflow-y: auto;
        height: 350px;
    }
    .modal-NewQ .modal-content  {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        border-width:6px;
        border-style:double;
        border-color: #c6e0ff;
     }

    #editQATWindow .modal-body p { margin-bottom: 600px }
    .btnYES {
        background: #3d85c6;
        background: -webkit-linear-gradient(#073763, #3d85c6 50%, #073763);
        background: linear-gradient(#073763, #3d85c6 50%, #073763);
        border: 1px solid #569;
        border-radius: 7px;
        box-shadow: -2px 2px 0 0 #444;
        color: #fff;
        display: inline-block;
        padding: 7px 13px;
        font: normal 700 14px/1 "Calibri", sans-serif;
        text-align: center;
        text-shadow: 2px 2px 0 #070550;
    }
    .btnYES:hover {
        background: #3498db;
        background: -webkit-linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        background: linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        font: normal 700 14px/1 "Calibri", sans-serif;
        color: white;
    }
    .btnYES:focus {
        background: #3498db;
        background: -webkit-linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        background: linear-gradient(#3d85c6, #3498db 50%, #3d85c6);
        font: normal 700 14px/1 "Calibri", sans-serif;
        color: white;
    }
    .selAnswerTextb {
        background-color: #eaf2f9;
    }
    .line {
        margin-bottom: 8px;
    }
    .stdAddonWidth {
        min-width: 180px;
        text-align: left;
    }
    input.break {
        word-wrap: break-word;
        word-break: break-all;
        height: 80px;
    }
</style>


@*===========================================  MAIN VIEW PAGE CODE =======================================================*@
@{
    string manageAction = @Model.manageAction;
    string fMode = @Model.cft_editMode;
    int masterCounter = 1;
    string rowInfo = masterCounter.ToString();
    string colFormId = Model.cft_id.ToString();
    string endDateMode = "readonly disabled";

    if (manageAction.Equals("RESTRICTED"))  endDateMode = "";
}

<div class="row" style="margin-left:2px; margin-right:2px">
    <div class="jumbotron smallRowMargin col-sm-12" style="padding: 4px; margin-bottom:8px; text-align:center">
        @if (!(Model.cft_new_vers_cft_id > 0))
        {
            <div class="col-sm-1" style="padding: 4px; margin-bottom:8px; text-align:right">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="id" name="id" value="@Model.cft_id.ToString()" />
                    <input type="hidden" id="frmAction" name="frmAction" value="@Model.manageAction" />
                    <button type="submit" class="btn btnAdd" id="btnManageAction" style="width:110px">@Model.manageAction</button>
                </form>
            </div>
        }
        <div class="col-sm-10 smallRowMargin" style="padding: 4px; margin-bottom:8px; text-align:center">
            <span style="font-size:xx-large;">@Model.screen_Title</span>
            <br />
            <span style="font-size:small; color:red; font-style:italic">@Model.manageAction</span>
            @if (Model.cft_new_vers_cft_id > 0)
            {
                <br />
                <span style="font-size:small; color:red; font-style:italic">A new version exists for this form!  Editting is restricted.</span>
            }
        </div>
    </div>
</div>


@* - - - - - - - - - - - - - - - - BEGINING OF THE "CREATE COLLECTION FORM" FORM - - - - - - - - - - - - - *@
 <input type="hidden" id="masterItemCounter" value="1" />
  <input type="hidden" id="sCounter" value="@Model.colFormSections.Count" />
 <input type="hidden" id="formMode" value="@fMode" />
 <input type="hidden" id="cft_id" value="@Model.cft_id" />
 <input type="hidden" id="formChanged" value="N">
    @*\\ ---- End of Hidden Control Fields section ----- *@


    <input type="hidden" id="cft_id" value="@fMode" />

    <div class="panel panel-default" style="margin-bottom:8px">
        @* - - - - - - - - - - - - - - <<<<< STARTS OF FORM HEADER >>>>> - - - - - - - - - - - - - *@
        <div class="panel-heading header" style="margin-bottom:8px">
            <div class="form-group row" style="margin-bottom:8px">
                <div class="col-sm-7">
                    <div class="input-group">
                        <div class="input-group-addon">Form Title:</div>
                        @Html.EditorFor(model => model.cft_Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled", style = "max-width: 100%; width:100%; color:cadetblue; font-size:large; font-weight:bold"} })
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group-addon">Subtitle:</div>
                        @Html.EditorFor(model => model.cft_SubTitle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled", style = "max-width: 100%; width:100%; color:cadetblue; font-size:large; font-weight:bold"} })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom:8px">
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Observation Type</div>
                        @*@Html.DropDownListFor(model => model.cft_obsType, ViewBag.cft_obsType as SelectList, new { @class = "form-control", name = "cft_obsType" })*@
                        @Html.DropDownList("cft_obsType", null, "- Select Observation Type -", htmlAttributes: new { @class = "form-control", name = "cft_obsType", @readonly = "readonly", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Customer</div>
                        @*@Html.DropDownListFor(model => model.cft_Cust, ViewBag.cft_Cust as SelectList, new { @class = "form-control", name = "cft_Cust" })*@
                        @Html.DropDownList("cft_Cust", null, htmlAttributes: new { @class = "form-control", name = "cft_Cust", @readonly = "readonly", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">Whse Location</div>
                        @*@Html.DropDownListFor(model => model.cft_LC, ViewBag.cft_LC as SelectList, new { @class = "form-control", name = "cft_LC" })*@
                        @Html.DropDownList("cft_LC", null, htmlAttributes: new { @class = "form-control", name = "cft_LC", @readonly = "readonly", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom:8px">
                <div class="col-sm-4">
                    <div class="input-group" data-provide="datepicker">
                        <div class="input-group-addon">Usable As of:</div>
                        <input readonly disabled class="datepicker form-control" id="cft_eff_st_dt" name="cft_eff_st_dt" value="@Model.str_cft_eff_st_dt" style="max-width: 100%; width:100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group" data-provide="datepicker">
                        <div class="input-group-addon">Usable Until:</div>
                        @*@{
                            var endEffDate = "";
                            if (Model.cft_eff_end_dt < Convert.ToDateTime("12/31/2060")) { endEffDate = Model.cft_eff_end_dt.ToString("MMM dd, yyyy"); }                          
                          }*@
                        <input class="datepicker form-control" id="cft_eff_end_dt" name="cft_eff_end_dt" @endDateMode value="@Model.str_cft_eff_end_dt" style="max-width: 100%; width:100%;">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">Form Number:</div>
                    @Html.EditorFor(model => model.cft_Nbr, new { htmlAttributes = new { @class = "form-control", style = "max-width: 60%; width:60%", @readonly = "readonly" } })
                    <div class="input-group-addon">Version:</div>
                    @Html.EditorFor(model => model.cft_Version, new { htmlAttributes = new { @class = "form-control", style = "max-width: 60%; width:60%", @readonly = "readonly" } })
                </div>
                @if (@Model.str_cft_canBdeleted)
                {
                    <div id="divDelete" class="col-sm-3" style="text-align:right; ">
                        <button type="button" class="btn btn-danger btn-sm newBtn" id="btnDeleteForever" style="padding:2px">
                            <span class="glyphicon glyphicon-stop"></span> Delete Form Forever!
                        </button>
                    </div>
                }
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>  @*- - - - END of panel-heading Section - - - - -*@

        @* - - - - - - - - - - - - - - <<<<< START OF FORM BODY >>>>> - - - - - - - - - - - - - *@
        <div class="panel-body content" style="margin-bottom:4px;">
            <div class="row" style="margin-bottom:0px;">
                @*/---------------- Below is the MAIN FORM QUESTION DETAIL DISPLAY PANEL ----------------------\*@
                <div class="col-md-12 personal-info">
                    <div class="row" id="qFormList" style="max-width:100%; height:550px; overflow-y:scroll; margin-left:15px; margin-right:15px">
                        <div class="panel-group" id="accordion">
                          @* - - - - - ADD HERE a partial view for each Form Section - - - - - - - *@
                            @foreach (OBSMVC.Controllers.CollectionFormSection obsFormSection in Model.colFormSections)
                            {
                                Html.RenderAction("addReadOnlySection", new { sCounter = obsFormSection.sectionNumber, colFormSection = obsFormSection });
                            }
                        </div> @* - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - -*@

                     @* - - - - - - - END OF THE PAPER FORM FOOTER SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - *@
                        <br /><br /><br /><br />
                    </div>
                </div>  @*End of Left Form Questions Pannel (7 column Pannel)*@
            </div>
        </div>@*---- END OF FORM BODY -------*@

        @*\\ - - - - - - - - - - - - - <<<<< END OF FORM BODY >>>>> - - - - - - - - - - - - //*@

        @*// - - - - - - - - - - - - - <<<<< FORM FOOTER >>>>> - - - - - - - - - - - - \\*@
        <div class="row">
            <div class="col-sm-7" style="text-align:right">

                @if (manageAction.Equals("RESTRICTED"))
                {
                    <button type="button" class="btn btn-success" id="btnSave">Save</button>
                    <text>&nbsp;&nbsp;&nbsp;</text>
                }
                <button type="button" class="btn btn-warning" id="btnCancel" >Cancel</button>
            </div>
            <div class="col-sm-4 alert-success" id="saveMsg" style="text-align:center; font-size:x-large; display:none ">
                Data Saved Successfully
            </div>
        </div>
        @*\\ - - - - - - - - - - - - - <<<<< FORM FOOTER >>>>> - - - - - - - - - - - - //*@

    </div> @* ----- END OF FORM PANEL*@

    @* - - - - - - - - - - - - - - - - END OF "CREATE COLLECTION FORM" FORM - - - - - - - - - - - - - *@

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>



    @* ######################  J A V A    S C R I P T S    S E C T I O N   #################################### *@
    @****************** GENERIC MISCELANEOUS JQUERY AND JAVASCRIPT METHODS **************************************@
    <script>
        $(document).ready(function () {
            function getATcategory() {
                var selectedText = $("#fullSelATlist").find('option:selected').text().substring(0, 5);
                if (selectedText == "3 Val") {
                    return "3 Val Range"
                }
                else if (selectedText == "5 Val") {
                    return "5 Val Range";
                }
                else {
                    return "Other"
                }
            };

            var selCathegory = getATcategory();


            $('.collapse').on('show.bs.collapse', function () {
                $(this).parent().find(".glyphicon-collapse-down").removeClass("glyphicon-collapse-down").addClass("glyphicon-minus");
            }).on('hide.bs.collapse', function () {
                $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-collapse-down");
            });
            $("#btnCancel").click(function () {
                if ( $("#formChanged").val() == "Y")
                {
                    $.fn.bootstrapBtn = $.fn.button.noConflict();  // To restore the "X" close button of the alert window

                    $( "#dialog-confirm-reset" ).dialog({
                        resizable: false,
                        height:200,
                        modal: true,
                        buttons: {
                            "Reset Form": function() {
                                $("#formChanged").val("N");
                                //isChanged.val("N");
                                location.href = "/ColFormTemplate/AddEditForm/" + @Model.cft_id;  //cft_id
                            },
                            Cancel: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    });
                }
                else{
                    location.href = "/ColFormTemplate/";
                }
            });
        
            $('#cft_eff_end_dt').datepicker({
                dateFormat: 'M dd, yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                minDate: -0,
                onClose: function (selectedDate) {
                    $("#cft_eff_st_dt").datepicker("option", "maxDate", selectedDate);
                },
                useCurrent: false //Important! See issue #1075
            });

            $("#btnSave").click(function(){            
                //updateEndEffDate(int cft_id, DateTime end_eff_date)
                var newEndEffDate = $("#cft_eff_end_dt").val();
                if (newEndEffDate == "")
                {
                    newEndEffDate = "Dec 31, 2060";
                }

                //alert("Saving form Id: " + "@colFormId" + " __ New End Date is: " + newEndEffDate);

                $.ajax({
                    url: '@Url.Action("updateEndEffDate", "ColFormTemplate")',
                    method: "POST",
                    cache: false,
                    data: { cft_id: @colFormId, end_eff_date: newEndEffDate },
                    error: function () {
                        alert("Failed to Save the Form.");  //<-- Trap and alert of any errors if they occurred
                    }
                }).done(function (d) {
                    if (d == "Success") {
                        //alert("Data Saved Successfully!");

                        //location.href = "/ColFormTemplate/AddEditForm/" + formCftid;
                        //location.href = "/ColFormTemplate";
                        $("#saveMsg").show();
                        setTimeout(function () {
                            $("#saveMsg").hide();
                        }, 3000);
                    }
                    else {
                        alert("ERROR Saving Form: " + d);
                    }
                });
                //--- Finished Resetting the ajax values

            });

        });
</script>

    @*********************************************************************************************************************@

    @*//- - - - - - - - -  Ajax Call to Retrieve and Display the Question List Search Results - - - - - - - - - - -\\*@


   @* --- Drag and Drop Java Script - - - - - *@
    @*<script type="text/javascript">

       //------------------------------------------------------------------
        function getQinfo(questionId, questionQATid) {
            var newCounterSeq = $("#qCounter").val();
            //var newCounterSeq = 1;
            var qid = questionId
            var ajaxResult = "Sample Data";
            //var target = ev.target || ev.srcElement;
            //var myId = $(event.target).attr("id");;

            //alert("Retrieving Information via Ajax for Question Id: " + qid);
            // ------------ Make the Ajax Call ---------------------------------------------
            $.ajax({
                url: '@Url.Action("getQuestionInfo", "ColFormTemplate")',
                method: "GET",
                cache: false,
                data: { question_id: qid, question_QATid: questionQATid, qCounter: newCounterSeq },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //beforeSend: function( xhr ) {
                //    //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
                //    alert("Ready to Submit Ajax call" );
                //},


                //--- On error, execute this function ------
                error: function () {
                    alert("Can't find data for question id " + qid + " !!");  //<-- Trap and alert of any errors if they occurred
                    //$btn.button('reset');
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully

                //Put the retrieved source code inside a <DIV> tag
                //Add the Division tag to the newly created "Li"
                var newDIV = document.createElement('div');
                newDIV.innerHTML = d;  // (If we want to just add some inner html text)
                //newDIV.appendChild(d);   // (If we want to add a child element)
                var liCreated = $('.newliItem').append(newDIV);

                //Once the New List Item has been completed remove its "newli" atribbute
                liCreated.removeClass("newliItem");
                //$('#ajaxSample').html(d)

                $('#qCounter').val(Number($('#qCounter').val()) + 1);
                //ajaxResult = d;
                //alert("Ajax call completed. result: " + d);
                //return ajaxResult;
                //alert("You jusr added question View Id: " + "qRow" + newCounterSeq)
                //ev.target.html(d);
                //$("#questionPnl01").append(d);
                //$btn.button('reset');
                //return d;
            });
        }
    </script>*@
