@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>DSC APPS WEB-PORTAL</title>
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/jquery")

   <style>
     .btnEnvironment {
         color: white;
         background-color: #424141;
         /*border-bottom: 1px solid white;*/
         border: none;
         /*border-bottom: 1px solid #928d8d;*/
         width: 100%;
         padding: 7px;
         margin: 20px, 10px;
         text-align: center;
         min-width: 100%;
         height: 65px;
         font-size: x-large;
         -webkit-transition: background-color 1.0s; /* For Safari 3.1 to 6.0 */
         transition: background-color 1.0s;
     }
     .btnEnvironment:hover {
         background-color: black;
         color: antiquewhite;
     }
     .btnEnvironment:focus {
         background-color: #05022b;
         color: antiquewhite;
     }
     .app-Frame {
         border: 4px double #222222;
         margin:0;
         padding: 0px;
         text-align: left;
         -webkit-box-shadow: 14px 16px 15px -10px rgba(0,0,0,1);
         -moz-box-shadow: 14px 16px 15px -10px rgba(0,0,0,1);
         box-shadow: 14px 16px 15px -10px rgba(0,0,0,1);
     }

     .app-Frame:hover {
         font-weight:bold;
         cursor: pointer;
         border-color: #0718a5;  /*dark-blue*/
     }
     .app-Frame-Header {
         color:white;
         font-size:medium;
         text-align:center;
         padding:8px !important;
     }
     .app-Frame-Body {
       background-color:white; 
       color:black; 
       font-size:x-large;
       text-align:center;
     }
     .no-Margins {
       margin:0; 
       padding:0;
     }
  </style>
</head>
<body style="background-color: #424141">
    <div class="container container-fluid" style="margin-left:20px; margin-right:20px; min-width:98%">
        @*<div class="row" style="background-color: darkred; padding: 10px 10px">
                TEST
            </div>*@
        <div class="row" style="margin:0; padding:0; width:100%;">
            @* ------------------------ Left Menu - Environment Selection ----------------------------- *@
            <div class="col-sm-2" >
                <div class="row">
                    <img src="~/Images/DSCHOME_Logo_Plain.png" style="width:100%" />
                </div>
                <div class="row" style="padding-top:15px">
                    <input type="button" id="btnPROD" class="btn btnEnvironment" value="Production">
                </div>
                <div class="row">
                    <input type="button" id="btnDEV" class="btn btnEnvironment" value="Development">
                </div>
                <div class="row">
                    <input type="button" id="btnQA" class="btn btnEnvironment" value="QA">
                </div>
            </div>

            @*Right Side of the Screen - Panel Links Content *@
            <div class="col-xs-10" style="margin:0; padding:0; color:white; text-align:center; padding-top:70px;">
      @*--------------------------------------- PRODUCTION SECTION ----------------------------------------------------------------*@
              @Html.Action("_AppSelectionEnvironment", new { environmentRow = "PROD" })
      @*-------------------------------------- DEVELOPMENT SECTION ----------------------------------------------------------------*@
              @Html.Action("_AppSelectionEnvironment", new { environmentRow = "DEV" })
      @*------------------------------------------ QA SECTION ---------------------------------------------------------------------*@
              @Html.Action("_AppSelectionEnvironment", new { environmentRow = "QA" })            </div>  @* ----- Right Side Pannel ---- *@
        </div>
        <br />
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $('#divDEV').show();
            $("#btnDEV").focus();

            $("#btnPROD").click(function () {
                $("#divDEV").hide();
                $("#divQA").hide();
                $("#divPROD").show();
            });

            $("#btnDEV").click(function () {
                $("#divDEV").show();
                $("#divQA").hide();
                $("#divPROD").hide();
            });

            $("#btnQA").click(function () {
                $("#divDEV").hide();
                $("#divQA").show();
                $("#divPROD").hide();
            });

            //$("#tblOBSDM").click(function () { location.href = 'http://OBSDM/Home/Index'; });
            //$("#tblOBSPRO").click(function () { location.href = 'http://OBSPRO/Home/Index'; });
            //$("#tblRedZone").click(function () { location.href = 'http://RedZone/Home/Index'; });

            //$("#tblOBSDMDEV").click(function () { location.href = 'http://DSCAPPDEV/Home/Index'; });
            //$("#tblOBSPRODEV").click(function () { location.href = 'http://DSCAPPDEV:81/Home/Index'; });
            //$("#tblRedZoneDEV").click(function () { location.href = 'http://DSCAPPDEV:82/Home/Index'; });

            //$("#tblOBSDMQA").click(function () { location.href = 'http://DSCAPPQA/Home/Dashboard'; });
            //$("#tblOBSPROQA").click(function () { location.href = 'http://DSCAPPQA:81/Home/Index'; });
            //$("#tblRedZoneQA").click(function () { location.href = 'http://DSCAPPQA:82/Home/Index'; });

        });
    </script>
</body>

</html>
