@model OBSMVC.Models.EMPLOYEE
@{
    ViewBag.Title = "Edit Employee Profile";
}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<style>
    .checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

</style>
<script>
    $(document).ready(function () {
        var isChanged = false;
        $('input, select, textarea').change(function () {
            //$("input[type='submit']").removeAttr("disabled");
            $("#btnSubmit").removeAttr('disabled');
            isChanged = true;
        });
        $(window).bind('beforeunload', function () {
            if (isChanged) {
                return 'There are unsaved changed. Do you want to discard Changes and Exit?';
            } else {
                return undefined;
            }
        });
        $("#btnSubmit").click(function () {
            isChanged = false;
            $(this).button('loading');
        });
        //$(".btn").click(function () {
        //    isChanged = false;
        //    $(this).button('loading');
        //});
    });
</script>

<br />
<h1>Edit Profile</h1>
<hr>
<!-- Form Edit State Change Validation -->
<!-- left column -->
<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <img src="~/Images/iconNoAvatar.png" class="avatar img-circle" alt="avatar">
            @*@if (Model.dsc_emp_last_name.Trim() == "Pogany")
                { <img src="~/Images/KPogany.jpg" class="avatar img-circle" alt="avatar">}
                else {
                  <img src="~/Images/iconNoAvatar.png" class="avatar img-circle" alt="avatar">
                }
            *@
        </div>
        <div class="row">
            <h3>@Model.dsc_emp_first_name @Model.dsc_emp_last_name</h3>
            <h5>@Model.dsc_emp_email_addr</h5>
            <h5>ADP ID: @Model.dsc_emp_adp_id</h5>
        </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group row">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:75px">JDE ID</span>
                    <input class="form-control" type="text" value="@Model.dsc_emp_perm_id" name="dsc_emp_perm_id" id="dsc_emp_perm_id">
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:75px">Title</span>
                    <input class="form-control" type="text" value="@Model.dsc_emp_title" name="dsc_emp_title" id="dsc_emp_title">
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width:75px">Facility</span>
                    @Html.DropDownList("dsc_assigned_lc_id", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group col-sm-4">
                    <span class="input-group-addon" style="min-width:75px">Hire Date</span>
                    <input class="datepicker form-control" id="dsc_emp_hire_dt" name="dsc_emp_hire_dt" style="max-width:100%">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                </div>
                @Html.ValidationMessageFor(model => model.dsc_emp_hire_dt, "", new { @class = "text-danger" })
            </div>


            <div class="form-group row">
                <div class="input-group col-sm-4">
                    <span class="input-group-addon" style="min-width:75px">Termination Date</span>
                    <input class="datepicker form-control" id="dsc_emp_term_dt" name="dsc_emp_term_dt" style="max-width:100%">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                </div>
                @Html.ValidationMessageFor(model => model.dsc_emp_term_dt, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                <div class="checkbox">
                    <label style="font-size: 1.5em">
                        <input type="checkbox" class="form-control input-sm" id="dsc_emp_can_be_obs_yn" @if (Model.dsc_emp_can_be_obs_yn == "Y") { <text> checked="checked" </text>  } name="dsc_emp_can_be_obs_yn">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Observable
                    </label>
                </div>
                <div class="checkbox">
                    <label style="font-size: 1.5em">
                        <input type="checkbox" class="form-control" id="dsc_emp_hourly_yn" @if (Model.dsc_emp_hourly_yn == "Y") { <text> checked="checked" </text>  } name="dsc_emp_hourly_yn">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Hourly
                    </label>
                </div>
                <div class="checkbox">
                    <label style="font-size: 1.5em">
                        <input type="checkbox" class="form-control input-sm" id="dsc_emp_temp_yn" @if (Model.dsc_emp_temp_yn == "Y") { <text> checked="checked" </text>  } name="dsc_emp_temp_yn">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Temp
                    </label>
                </div>
            </div>

            <br />


            <div class="form-group row">
                <div class="col-md-1 ">
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" disabled="disabled" id="btnSubmit">Save Changes</button>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <input type="reset" class="btn btn-default" value="Cancel" style="min-width:130px">
                </div>
            </div>


            <input type="hidden" value="@Model.dsc_emp_id" name="dsc_emp_id" id="dsc_emp_id">
        </form>
    </div>
</div>



@if (ViewBag.ConfMsg != null)
{
    <div class="row">   
        <div class="col-sm-9 col-sm-offset-3" id="ConfMsg" style="font-weight: bold; color:green">
            Employee Information Saved Successfully.
        </div>
    </div>
    <script>
        $(function () {
            setTimeout(function () {
                $("#ConfMsg").hide();
            }, 3000);
        });
    </script>
}

<hr>
<div>
    @Html.ActionLink("Back to Employee List", "Index")
</div>

<script>
    $(document).ready(function () {
        $("input:text").focus(function () { $(this).select(); });

        //$('.collapse').on('show.bs.collapse', function () {
        //    $(this).parent().find(".glyphicon-collapse-down").removeClass("glyphicon-collapse-down").addClass("glyphicon-minus");
        //}).on('hide.bs.collapse', function () {
        //    $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-collapse-down");
        //});

        $('.datepicker').datepicker({
            format: "DD, d MM, yy"
        });
    });
</script>


@*<div class="form-group row">
        <ul class="list-group checked-list-box">
            <li class="list-group-item"><span>One</span></li>
            <li class="list-group-item" data-checked="true">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>*@
@*<script>
        $(function () {
            $('.list-group.checked-list-box .list-group-item').each(function () {

                // Settings
                var $widget = $(this),
                    $checkbox = $('<input type="checkbox" class="hidden" />'),
                    color = ($widget.data('color') ? $widget.data('color') : "primary"),
                    style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                    settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                    };

                $widget.css('cursor', 'pointer');
                $widget.append($checkbox);

                // Event Handlers
                $widget.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });


                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $widget.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $widget.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$widget.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $widget.addClass(style + color + ' active');
                    } else {
                        $widget.removeClass(style + color + ' active');
                    }
                }

                // Initialization
                function init() {

                    if ($widget.data('checked') == true) {
                        $checkbox.prop('checked', !$checkbox.is(':checked'));
                    }

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($widget.find('.state-icon').length == 0) {
                        $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
                    }
                }
                init();
            });

        });
    </script>*@
