@using PagedList;
@using PagedList.Mvc;

@model IPagedList<OBSMVC.Models.EMPLOYEE>

@{
    ViewBag.Title = "Employee Maintenance";
}
<br />
<h2>Employee Maintenance</h2>

<p>
@using(Html.BeginForm("Index","Employee",FormMethod.Get))
 {
   
    @Html.TextBox("search") <input type="submit" value="Search" />
    <br />
  }
</p>
<table class="table" border="1">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_first_name)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.First().dsc_emp_last_name)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().DSC_LC.dsc_lc_name)*@
            Employee LC
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_perm_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_adp_id)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.First().dsc_emp_email_addr)
        </th>          
        <th>
           @Html.DisplayNameFor(model => model.First().dsc_emp_title)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_can_be_obs_yn)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_hire_dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_term_dt)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.First().dsc_emp_temp_yn)
        </th>  
         <th>
           @Html.DisplayNameFor(model => model.First().dsc_emp_hourly_yn)
        </th>               
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="14"><font color="red">Employee not found</font></td>
    </tr>
}
else {

foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.dsc_emp_id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DSC_LC.dsc_lc_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_perm_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_adp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_email_addr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_title)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_can_be_obs_yn)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_hire_dt)
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_term_dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_temp_yn)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.dsc_emp_hourly_yn)
        </td>    
        @*This is a test comment*@
    </tr>
}
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
