@model OBSMVC.Models.OBS_QUESTION_METADATA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OBS_QUESTION_METADATA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.obs_quest_md_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_quest_md_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs_quest_md_cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs_quest_md_cat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.obs_quest_md_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
